.collection
  = link_to user_collection_path(current_user, collection) do
    = image_tag(collection.cover.thumb.url)

  = link_to collection.name.truncate(22), user_collection_path(current_user, collection)
  |
  = link_to 'Editar', edit_user_collection_path(current_user, collection)
