.collection_form
  = simple_form_for @collection, url: [current_user, @collection], :remote => request.xhr? ? true : false, :html => { :rel => 'product-form' } do |f|
    = render :partial => 'layouts/form_error_explanation', :locals => { :model => @collection }

    .clearfix

    .left-inputs
      = f.input :name
      = f.input :description, :as => :text, :input_html => {:rows => 5}
      = f.input :itunes
      = f.input :spotify
      = f.input :rdio
      = f.input :deezer

      - unless request.xhr?
        = f.input :cover, as: :file
        - if @collection.cover.present?
          .thumb
            = image_tag(@collection.cover.thumb.url)

        = f.input :background, as: :file
        - if @collection.background.present?
          .thumb
            = image_tag(@collection.background.thumb.url)

    .right-inputs
      = f.association :products, as: :check_boxes,
        collection: @collection.products_to_form_options,
        wrapper_html: {class: 'products'},
        label: 'Selecione os sons que fazer parte desta coleção'

    .clearfix

    #form-buttons
      = f.button :submit, t(:save), :class => 'btn-vigoo'

