.hero-unit
  .author_image_container
    .new-release-label
      = image_tag 'new_release_label.png'
      %span= t('.new_release')

    .author_image
      = image_tag @collection.cover.url

  .blue_container
    %h1= @collection.name

    .bio_container
      .bio.section-description
        = simple_format(truncate(@collection.description.strip, length: 380, separator: ' '))
        - if @collection.description.strip.size > 380
          .read-more
            = link_to user_collection_details_path(@user, @collection), :class => "support to_modal" do
              = t(:read_more)
              &#9662;

    .stores-links
      - %w(spotify rdio itunes deezer).each do |store|
        - if @collection.public_send(store).present?
          = link_to @collection.public_send(store), class: store, target: '_blank' do
            = image_tag("stores_icons/#{store}.png")

.clear
