- if @collection.background.present?
  .collection-background{style: "background-image: url(#{@collection.background.url})"}
  .collection-background-fade-white
= render partial: 'profile'

.main-heading-wrapper
  %h1.heading= t(:collection_tracks)
  %h2.heading= t(:find_collection_tracks)

.white-wrapper
  .white-wrapper-shadow

  = render partial: 'users/products', collection: @products, as: :product

  .clearfix

  / %h1.heading
  /   %span.blank= t(:similar_authors)
  / - @similar_users.each do |author|
  /   .grid_3.similar_author.thumb
  /     = render partial: 'users/user_disk', :locals => { :user => author }

  / .clearfix

:javascript
  $(document).ready(function(){
    // my products pagination
    if ($("#products").length>0 && GetURLParameter('products_page')!=undefined){
      $("#product_tab").tab('show');
    }

  });

  $(function(){
    // Function to activate the tab
    function activateTab() {
        var activeTab = $('[href=' + window.location.hash.replace('/', '') + ']');
        activeTab && activeTab.tab('show');
    }

    // Trigger when the page loads
    activateTab();

    // Trigger when the hash changes (forward / back)
    $(window).hashchange(function(e) {
        activateTab();
    });

    // Change hash when a tab changes
    $('a[data-toggle="tab"], a[data-toggle="pill"]').on('shown', function () {
        window.location.hash = '/' + $(this).attr('href').replace('#', '');
    });
  });
