=content_for :title do
  = "#{t(:page_title_prefix)} #{t(:resend_confirmation)}"

%h1.heading= t(:resend_confirmation)

= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.input :email
  = f.button :submit, t(:resend_confirmation), class: "btn-vigoo"

= render "users/links"