.product_form .thumb{margin-left:120px;margin-top:-10px}.product_form .thumb .boolean{margin-left:0}.product_form .instruments{overflow:auto;margin-bottom:15px}.product_form .input{clear:both}.product_form .input label.check_boxes{margin-right:30px}.product_form .input .checkbox{padding-left:0;float:left}.product_form .input .checkbox label.collection_check_boxes{text-align:left;width:160px}.product_form .input .checkbox input[type="checkbox"]{margin-left:0;margin-right:5px}.product_form .input #product_remove_photo{float:left}
