.collection_form
  margin-top: 40px

  .left-inputs
    float: left
    width: 400px

  .right-inputs
    float: left

  .thumb
    margin: 0 0 20px 0
    height: auto

    img
      width: 220px

  .control-group
    clear: both

  .products
    width: 480px

    .control-label
      display: block
      width: 100%
      height: auto
      text-align: center
      border-bottom: 1px solid darken(white, 15%)
      padding-bottom: 15px
      margin: -5px 0 15px
      float: none

    .controls
      height: 520px
      overflow: auto

    .checkbox
      float: none
      clear: both
      text-align: left
      width: 100%
      margin: 5px 0

