@import "compass/css3/transform"
@import "compass/css3/filter"
@import "compass/css3/opacity"
@import "compass/css3/transition"

body.body-collections.body-show
  .collection-background
    position: absolute
    top: 150px
    left: 0
    z-index: -2
    width: 100%
    height: 1500px
    background-size: cover

  .collection-background-fade-white
    height: 800px
    width: 100%
    position: absolute
    top: 1200px
    left: 0
    z-index: -1
    background: linear-gradient(fade_out(white, 1), white 50%)

  .breadcrumb
    background-color: transparent
    text-align: center
    margin: 5px 0 -10px

    li
      text-shadow: none
      font-size: 11px
      text-transform: uppercase
      display: inline-block
      font-weight: 100
      letter-spacing: 1px

      &,
      &.active,
      a,
      .divider
        color: white

      a:hover
        text-shadow: 0 0 1px white

  .main-heading-wrapper
    h1.heading
      background: none

    h1.heading,
    h2.heading
      color: white

  .white-wrapper
    background-color: white
    padding: 50px 0
    border: 10px solid white
    border-radius: 5px
    width: 104%
    margin-left: -2%
    position: relative
    z-index: 0
    overflow: hidden

    .white-wrapper-shadow
      box-shadow: inset 0 100px 40px -15px rgba(0, 0, 0, 0.4)
      width: 100%
      height: 855px
      position: absolute
      top: -90px
      left: 0
      z-index: -1

  .hero-unit
    position: relative

    .blue_container
      background: fade_out(black, 0.4) url(/assets/bgpattern.png)
      background-size: 30px
      margin-top: 25px
      height: 325px

    h1
      font-size: 44px

    .author_image_container
      position: relative
      z-index: 0

    .new-release-label
      position: absolute
      left: 8px
      top: 10px
      z-index: 1

      span
        width: 100px
        +rotateZ(-44deg)
        position: absolute
        z-index: 1
        top: 28px
        left: -15px
        font-size: 11px
        line-height: 1em
        text-transform: uppercase
        text-align: center

    .bio_container
      width: 400px
      margin-right: 0
      margin-top: 10px

    .stores-links
      position: absolute
      bottom: 35px
      right: 45px

      a
        display: inline-block
        height: 30px
        margin: 0 4px
        +transition(all .6s)
        +opacity(.4)
        +filter(saturate(0%))

        &,
        &.spotify,
        &.itunes,
        &.deezer
          &:hover,
            +opacity(.9)
            +filter(saturate(90%))

        &.spotify,
        &.itunes
          +opacity(.2)

        &.deezer
          +opacity(.3)
