=simple_form_for [:admin, @category] do |f|
  .span4
    = f.input :name
    = f.input :description
  .span4
    = f.hidden_field :parent_id
    = f.association :regions, :collection => Region.order('name'), :multiple => ''
    = f.association :instruments, :collection => Instrument.order('name'), :multiple => ''
  
  .span4
    = f.input :photo, :as => :file
    - if !@category.photo.blank?
      .thumb
        = image_tag(@category.photo.url(:thumb))
        %br
        = f.input :remove_photo, :label => t(:remove_photo), :as => :boolean

  .span4
    = f.input :background, :as => :file
    - if !@category.background.blank?
      .thumb
        = image_tag(@category.background.url(:thumb))
        %br
        = f.input :remove_background, :label => t(:remove_background), :as => :boolean
  .clearfix      
  = f.button :submit, class: 'btn btn-primary'
  = link_to "Cancel", :back

