=content_for :title do
  = "#{t(:page_title_prefix)} #{t(:sign_in)}"
  
%h1.heading= t(:sign_in)
%h2.heading= t(:site_name)

.row-fluid
  .span6
    .sign-in-area
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.input :email
        = f.input :password

        - if devise_mapping.rememberable?
          = f.input :remember_me, :as => :boolean
    
        %br
        .no-space-labels
          = f.submit t(:sign_in), :class => "btn-vigoo"

      .no-space-labels
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to t(:forgot_password), new_password_path(resource_name)
          %br

        - if devise_mapping.confirmable? && controller_name != 'confirmations'
          = link_to t(:didnt_receive_confirmation), new_confirmation_path(resource_name)
          %br
  .span6
    - if devise_mapping.registerable? && controller_name != 'registrations'
      = t(:or)
      = link_to t(:sign_up), new_registration_path(resource_name)
      = t(:incentive_to_sign_up)
      %br
