=form_tag "/buyer_terms" do 
    %p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus ante, malesuada eu mollis et, condimentum sed nisl. Proin interdum nunc faucibus metus dignissim in vehicula lorem tincidunt. Pellentesque non dolor libero. Donec viverra velit vitae erat sagittis molestie. Sed ut sapien ut nisl egestas eleifend ut sed sapien. Mauris facilisis, lectus nec egestas aliquet, diam ligula volutpat augue, eu condimentum libero leo a purus. Duis quis fringilla massa. Sed id quam non dolor sodales convallis sed eu purus. Quisque sed lectus ut ante gravida eleifend non in libero. Nulla nec velit sem. Praesent aliquet placerat augue ac bibendum. Proin nec tempus elit. Nunc sem nibh, commodo in mattis tristique, convallis sit amet nisl. Proin posuere facilisis velit in semper. Nullam tempor, magna ut malesuada placerat, purus dui euismod mi, sagittis elementum dui risus eu arcu. Nam et nibh ut elit tempus luctus vitae nec neque."
    %p= "Sed vitae sem vel quam consectetur faucibus et quis est. Mauris ligula nibh, lobortis ut cursus ac, cursus et metus. Integer dolor nisi, molestie at sodales ac, tincidunt quis erat. Aenean commodo mi non massa porta tempor. Sed posuere, velit a semper aliquet, odio dolor eleifend est, non euismod tortor metus eget neque. Aliquam sodales, ante non vulputate egestas, sem metus lobortis dolor, vel ornare metus sapien at diam. Morbi tincidunt orci a urna tempor ut vehicula tortor faucibus. Curabitur laoreet ligula ut lacus viverra aliquet. Proin tincidunt velit at sapien pretium laoreet. Proin mattis quam non ipsum tincidunt et rutrum nisl lacinia. Mauris pulvinar mauris tempus felis pulvinar vel fermentum nunc malesuada. Proin rutrum velit quis dui posuere et porttitor lectus porttitor. Suspendisse potenti. Sed consectetur semper quam. Proin vitae nisl tellus. Vivamus a convallis lectus."
    %p= "Vivamus id mi ut diam interdum scelerisque. Proin nisl nunc, aliquet sit amet pretium quis, accumsan sed metus. Sed et ultrices nulla. In lacinia velit tortor. Donec ac turpis elit. Aliquam eros quam, mattis et fermentum sed, venenatis sit amet risus. Proin rhoncus massa nec diam blandit pharetra. Maecenas consequat justo non magna porta iaculis vel id mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tempor neque nec eros gravida ut commodo enim elementum. Donec et erat at metus euismod adipiscing adipiscing et lacus. Donec mollis urna id sem tristique mattis. In tempor, arcu rhoncus tincidunt mollis, risus justo interdum dui, in ornare odio lacus hendrerit dolor."
    %p= "Integer et metus orci. Etiam tincidunt massa ut nisi eleifend eget elementum eros euismod. Phasellus turpis est, iaculis sed scelerisque sit amet, tincidunt id tellus. Fusce convallis sagittis leo non auctor. Pellentesque metus lectus, tincidunt vel feugiat aliquam, lobortis at sapien. Sed dapibus orci eget augue congue eget elementum mauris tristique. Nam placerat porta lobortis. Fusce venenatis lobortis eros vitae varius. Aliquam erat volutpat. Fusce vel leo ipsum. Nunc pellentesque nisl at est ullamcorper mollis. Integer nec tincidunt ante."
    %p= "Sed aliquam, magna non cursus feugiat, sem leo ultricies mauris, scelerisque lobortis purus velit facilisis neque. Ut eget purus in erat aliquam pretium. Nam ullamcorper, justo quis condimentum mattis, turpis augue pharetra neque, sed lobortis tellus ipsum a nunc. Nulla facilisi. In faucibus viverra enim id pretium. Aliquam a sapien odio, ut pharetra sapien. Curabitur tincidunt metus ac odio porta ut laoreet massa varius. Duis cursus iaculis ligula ac cursus. Sed mauris odio, ultrices quis eleifend ac, aliquet in erat."
    
    .clear
    = submit_tag("Accept", class: "btn btn-success")
    = submit_tag("Decline", class: "btn btn-danger", :name => 'decline_button')
