#encoding: utf-8

<p>Fala <%= @payment.user.first_name %>!</p>

<p>Recebemos seu pagamento no valor de R$ <%= @payment.amount %>. 
Estamos ultra-felizes de ter você entre os apoiadores da cultura do remix!</p>

<p>Qualquer dúvida ou sugestão, não hesite em nos contactar suporte@oritmo.com</p>

<p>Aquele abraço!<br/>
Equipe Oritmo.</p>

==

<p>Hello <%= @payment.user.first_name %>!

<p>We just received your payment in the amount of  R$ <%= @payment.amount %>. 
We're ultra-happy to have you supporting the remix culture!</p>

<p>Any doubts or suggestions, don't hesitate to contact us at suporte@oritmo.com</p>

<p>Aquele abraço!<br/>
Oritmo team</p>
