#encoding: utf-8

<p>Vamoooo!!! Mais uma venda, pessoal! O valor foi de R$ <%= @order.amount_paid %> relativa ao som abaixo:</p>

<p><%= @order.product.name %>
by <%= @order.product.user.name %></p>

<p>Comprador: <%= @order.user.name %></p>