#encoding: utf-8

<p>Olá <%= @user.first_name %>!</p>

<p>Seja super ultra bem vindo ao Oritmo! Seu cadastro foi realizado com sucesso e você pode atualizá-lo a qualquer momento clicando <%= link_to "aqui", user_path(@user) %>.</p>

<p>Você já pode comprar à vontade ou vender seus arquivos agora mesmo! Não esqueça de confirmar seu email clicando <%= link_to("aqui", confirmation_url(@user, :confirmation_token => @user.confirmation_token)) %></p>

<p>Qualquer dúvida ou sugestão, não hesite em nos contactar suporte@oritmo.com</p>

<p>Aquele abraço!<br/>
Equipe Oritmo.</p>

== 

<p>Hi <%= @user.first_name %>!</p>

<p>Welcome to Oritmo! Your registration was completed successfully and you can update your profile at any time clicking <%= link_to "here", user_path(@user) %>.</p>

<p>You can buy or start selling your sounds immediately! Don forget to confirm your email by clicking <%= link_to("here", confirmation_url(@user, :confirmation_token => @user.confirmation_token)) %></p>

<p>Any doubts or suggestions, don't hesitate to contact suporte@oritmo.com</p>

<p>Aquele abraço!<br/>
Oritmo team.</p>