#encoding: utf-8

<p>Fala <%= @order.user.first_name %>!</p>

<p>Sua compra do arquivo <%= @order.product.name %> foi concluída! Estamos ultra-felizes de ter você entre os apoiadores da cultura do remix!</p>

<p>Para fazer o download do seu arquivo clique neste link ou visite sua página de downloads!
<%= link_to @order.product.name, download_product_url(@order.product) %></p>

<p>Qualquer dúvida ou sugestão, não hesite em nos contactar suporte@oritmo.com</p>

<p>Aquele abraço!<br/>
Equipe Oritmo.</p>

== 

<p>Hello <%= @order.user.first_name %>!</p>

<p>Your purchase of the file <%= @order.product.name %> has been completed! 
We're ultra-happy to have you supporting the remix culture!</p>


<p>To download your file, click the link below or visit your profile page.
<%= link_to @order.product.name, download_product_url(@order.product) %></p>

<p>Any doubts or suggestions, don't hesitate to contact us at suporte@oritmo.com</p>

<p>Aquele abraço!<br/>
Oritmo team</p>