<p>Parabéns, <%= @seller.first_name %>! Você acaba de vender seu som:</p>

<p><%= @order.product.name %> (<%= number_to_currency(@order.product.price) %>)</p>

<p>Comprador: <%= @buyer.first_name %> [<%=  @buyer_location %>]</p>

<p>Com essa venda, seu saldo no Oritmo é de <%= number_to_currency(@seller.account.balance) %>! Para fazer a retirada desse valor você precisa ter um mínimo de R$ 50,00 e precisa estar com sua conta do paypal cadastrada em seu perfil.</p>

<p>Aproveite que você esta bombando e dá aquela vasculhada no seu HD para fazer o upload de mais arquivos e aumentar suas vendas agora mesmo!</p>

<p>Qualquer dúvida ou sugestão, não hesite em nos contactar suporte@oritmo.com</p>

<p>Valeu, parceiro! Aquele abraço!</p>

<p>Equipe Oritmo.</p>