#encoding: utf-8

<p>Olá equipe!</p>

<p>Um novo usuário acaba de se cadastrar! O nome dele é <%=  link_to @user.name, admin_user_path(@user) %> e ele é o usuário <%= @user_count %> cadastrado em nossa plataforma! Vamo que vamo!</p>