#encoding: utf-8

<p>Querido <%= @user.first_name.capitalize %>,</p> 

<p>Chegou a hora de lançar o site "ORITMO - Sons do Brasil para o Mundo". E você, que já faz parte disso tudo, é nosso convidado especial nessa festa. Vai ser neste domingo (05/05), a partir das 18h, no Bar d'Hôtel, na esquina da Delfim Moreira com a Bartolomeu Mitre. Se estiver no Rio de Janeiro você vai nos alegrar com sua presença. Se não estiver, sabemos que estará presente, dentro do espírito de celebração da música brasileira.</p> 
        
<p>Chamamos os Djs Duda M, Jonas Rocha e Ricardo Imperatore para o desafio de criar obras inéditas com os sons de ORITMO. No domingo vamos ver o resultado desse desafio, seguido de muita música e performances ao vivo com Rodrigo Sha e seus convidados especiais. Te esperamos lá!</p>
 
<p>Importante confirmar sua presença no email <a href="mailto:festa@oritmo.com">festa@oritmo.com</a>.</p>

<p>**ORITMO (<a href="http://oritmo.com">oritmo.com</a>) é um marketplace onde os músicos brasileiros criam suas lojas pessoas disponibilizando sons com sua assinatura pessoal para produtores no mundo todo. É toda a riqueza dos ritmos brasileiros como matéria prima de qualidade para Djs, videomakers, compositores de trilhas sonoras e produtores musicais em geral.</p>

<p>Abs.</p>

<%= image_tag('http://oritmo.com/assets/events/festa_lancamento.jpg') %>