#encoding: utf-8

<p>Opa, nossa biblioteca de sons acaba de aumentar! O usuário <%= @product.user.name %> acaba de cadastrar o seguinte arquivo:</p>

<p><%= link_to @product.name, admin_product_url(@product.id) %></p>

<p>Mas antes de liberarmos para venda, a equipe de revisão precisa conferir para aprovar ou rejeitar. Se você faz parte da equipe, clique aqui para revisá-los agora mesmo, por favor.
</p>
