<p>Fala <%= @product.user.first_name %>!</p>

<p>Muitíssimo obrigado pelo cadastro do seu som <i><%= @product.name %></i>!</p>

<p>Já avaliamos o arquivo e ele está liberado para venda no site.</p>

<p>Divulgue seu trabalho pra aumentar suas vendas.</p>

<p>Aquele abraço!<br/>
Equipe Oritmo. </p>
