<p>Fala <%= @product.user.first_name %>!</p>

<p>Muitíssimo obrigado pelo cadastro do seu som! Infelizmente, <%= @message %></p>

<p>Estamos disponíveis para conversar melhor com você e orientá-lo a conseguir aprovação, basta responder a este email, se desejar.</p>

<p>A sua participação no ORITMO e no movimento da cultura do remix é muito importante! Não desanime com esse nosso email!</p>

<p>Aquele abraço!<br/>
Equipe Oritmo. </p>
