%h1.heading= t("multiple_products.main_title")
%h2.heading= t("multiple_products.step_2")

.product_form
  = simple_form_for @product, url: multiple_product_path(@product) do |f|  
    = render partial: 'products/form', locals: { f: f }
    
    .buttons
      = f.button :submit, "Finalizar"
      - if session["product_ids"].size > 1
        = f.button :submit, "Próximo"
    
.clearfix