- content_for :head do
  :javascript
    $(function() { return window.fileUpload = new window.FileUpload; });

%h1.heading= t('multiple_products.main_title')
%h2.heading= t('multiple_products.file_formats')

%a{ :name => 'uptop' }
.grid_12
  = link_to t(:add_files), '#', :id => 'upload-add-files', :class => 'btn-vigoo'
  .fake-upload
    %input.file{ :id => 'upload-file-button', :type => 'file', :multiple => '' }
  .fileupload-or= t(:or)
  #fileupload.container_12
    %h2.instruction= t(:drag_your_music_here)
    #uploaded-files.grid_4.omega.alpha
    #file-forms.grid_8.alpha.omega
      .loading
        = t(:loading)
    .clear

  
#next-multiple-product.buttons
  = link_to t(:btn_finish), user_path(current_user), :class => 'btn-vigoo', :id => 'upload-finish-button'
  .loading &nbsp;
  
.clearfix
