%tr.sortable
  %th= sortable 'orders.id', 'ID'
  %th Buyer
  %th= sortable 'orders.product_id', 'Product'
  %th Autor
  %th= sortable 'orders.status', 'Status'
  %th= sortable 'amount_paid', 'Amount'
  %th= sortable 'orders.created_at', 'Ordering date'
