- product = order.product
%tr
  %td= order.id
  %td= link_to(order.user.name, admin_user_path(order.user))
  %td= link_to(product.name, admin_product_path(product))
  %td= link_to(product.user.name, admin_user_path(product.user))
  %td= order.status
  %td= order.amount_paid
  %td= order.created_at
