.page-header
  %h1 Orders

%div{style: 'float:right'}
  = will_paginate @orders
 
%div{style: 'float:left'}
  #date_filter
    = form_tag(admin_orders_path, method: :get, class: "form-inline", id: :range_filter_form) do
      = label_tag :from
      = text_field_tag :from, params[:from] || 1.month.ago.strftime("%d/%m/%Y"), class: "input input-small datepicker"
      = label_tag :to
      = text_field_tag :to, params[:to] || Date.today.strftime("%d/%m/%Y"), class: "input input-small datepicker"
      = submit_tag "Filter", class: "btn"


%table.table.table-striped
  = render partial: 'admin/orders/order_heading'
  - @orders.each do |order|
    = render partial: 'admin/orders/order_row', locals: { order: order }
