%h2 Resend unlock instructions

= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = f.input :email
  = f.button :submit, "Resend unlock instructions"

= render "links"