
= simple_form_for [:admin,  @homepage_highlight ] do |f|
  = f.input :section, collection: @homepage_highlight.allowed_sections, input_html: { class: 'section_select' }
  = f.association :object, collection: User.artists.order(:name), label: "Author", input_html: { class: 'AUTHOR_select' }, wrapper_html: { class: 'AUTHOR_wrap' }
  
  = f.input :object_id, collection: Rhythm.active.order(:name), label: "Sound", as: :grouped_select, group_method: :public_products, input_html: { class: 'RHYTHM_select' }, wrapper_html: { class: 'RHYTHM_wrap' }
  
  = f.input :object_id, collection: Mood.active.order(:name), label: "Sound", as: :grouped_select, group_method: :public_products, input_html: { class: 'MOOD_select' }, wrapper_html: { class: 'MOOD_wrap' }
  
  = f.input :object_id, collection: User.artists.order(:name), label: "Sound", as: :grouped_select, group_method: :public_products, input_html: { class: 'MAIN_select' }, wrapper_html: { class: 'MAIN_wrap' }
  
  = f.submit