%h2 Homepage Highlights

%br
= link_to 'New Highlight', new_admin_homepage_highlight_path

%table.table.homepage_highlights
  %thead
    %tr
      %th Image
      %th Name
      %th
      %th
      
  %tbody
    - @sections.keys.each do |section|
      %tr
        %td{colspan: 5}
          %b
            %i= section
  
      - @sections[section].each do |hl|
        %tr
          - if hl.object_type=='Product'
            %td
              = image_tag hl.object.thumburl
            %td
              = link_to hl.object.name, admin_product_path(hl.object)
              - if section == 'MOOD'
                %br
                = hl.object.categories.where(type: "Mood").first.name
              %br
              = hl.object.categories.where(type: "Rhythm").first.name
              by
              = hl.object.user.name
                
          - else
            %td
              - if !hl.object.photo.blank?
                = image_tag hl.object.photo.url(:thumb_mask)
              - else
                = image_tag 'user_noimage.png'
            %td= link_to hl.object.name, admin_user_path(hl.object)
              
          %td= link_to 'Edit', edit_admin_homepage_highlight_path(hl)
          %td= link_to 'Delete', [:admin, hl], method: :delete, data: { confirm: 'Are you sure?' }
  


