- if @user == current_user
  #user_activity
    %h1.heading= t(:my_account) #"#{@user.name}'s store"
    = #%h2.heading= "#{@user.city}, #{@user.country}"

    - if user_signed_in? && @user==current_user && params[:preview].nil?

      .list_ordering.grid_12.tabbable
        %ul#userTabs
          - if @user.is_musician?
            %li.active
              %a{ href: "#profile", "data-toggle" => "tab" }= t(:profile)
            %li
              %a{ href: "#products", "data-toggle" => "tab", id: "product_tab" }= t(:my_sounds)
            / %li
            /   %a{ href: "#collections", "data-toggle" => "tab", id: "collections_tab" }= t('.collections')

          - if @bought_products.size > 0
            %li{class: @purchases_css_class}
              %a{ href: "#downloads", "data-toggle" => "tab" }= t(:purchases)

          - if  @user.account.transactions.size > 0
            %li
              %a{ href: "#transactions", "data-toggle" => "tab" }= t(:transactions)

          %li
            %a{ href: "/upload" }= t(:menu_make_money)

          %li= link_to t(:edit_account), edit_registration_path(current_user)

      .tab-content

        - if @bought_products.size > 0
          #downloads.tab-pane{class: @purchases_css_class}
            - @orders.each do |order|
              = render partial: 'products', :locals => { :product => order.product }
            = will_paginate @orders, param_name: "orders_page"

        - if  @user.account.transactions.size > 0
          .tab-pane#transactions

            %table.table
              %tr
                %th Date
                %th Description
                %th D/C
                %th Amount
              - @user.account.transactions.each do |t|
                %tr
                  %td= t.created_at
                  %td= t.description
                  %td= t.debit_credit
                  %td= number_to_currency(t.amount)

              %p= "#{t(:current_balance)}: #{number_to_currency(@user.account.balance)}"

          = # link_to t(:add_credit), new_payment_path, class: "btn btn-primary"
          = # link_to t(:withdraw), withdraw_payments_path, class: "btn btn-primary"

        - if @user.is_musician?
          .tab-pane.active#profile
            = render partial: 'profile'

          .tab-pane#products
            - @products.each do |product|
              = render partial: 'products', :locals => { :product => product }

            .clearfix
            = will_paginate @products, param_name: "products_page"

          .tab-pane#collections
            .new-collection-btn-wrapper
              = link_to 'Nova Coleção', new_user_collection_path(current_user), class: 'btn-vigoo'

            = render @collections

      .clearfix


