- if controller_name != 'sessions'
  = link_to t(:sign_in), new_session_path(resource_name)
  %br

- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to t(:sign_up), new_registration_path(resource_name)
  %br

- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to t(:forgot_password), new_password_path(resource_name)
  %br

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t(:didnt_receive_confirmation), new_confirmation_path(resource_name)
  %br

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t(:didnt_receive_unlock), new_unlock_path(resource_name)
  %br

- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
    %br