%div.container_12.authors_files{id: "product-#{product.id}"}
  .grid_3
    - if !product.sample.nil?
      = render partial: 'layouts/player_single', :locals => { :product => product }
    - else
      = image_tag product.thumburl
   
    - if @user == current_user   
      - case product.status
        - when 'new', 'processing'
          .product_status
            %span.label processando áudio
        - when 'review'
          .product_status
            %span.label.label-info em análise
        - when 'rejected'
          .product_status
            %span.label.label-important reprovado
  .grid_4
    - product.name = @user==current_user ? product.name : display_product_name(product.name)
    %h2= link_to product.name, user_product_path(@user, product)
    - cat = category_hash(product)
    %ul.categories
      - cat.each do |main, val|
        - if val.length > 0 && main != "Região"
          %li
            = "#{main}:"
            %ul
              - i = 0
              - val.each do |obj|
                %li
                  - i = i + 1
                  = i == val.length ? obj.name : "#{obj.name}, "
      - if product.bpm.to_f > 0
        %li
          = "#{Product.human_attribute_name(:bpm)}:"
          %ul
            %li
              = number_with_precision(product.bpm, :precision => 2)
      - if product.key
        %li
          = "#{t(:key)}:"
          %ul
            %li.no_upper
              = product.key

  .grid_2
    - if @bought_products.include? product
      = link_to download_product_path(product) do
        = image_tag "btn-download.png"
    - else
      = price_big(product)
    
  .grid_3.more_info
    %span.title= t(:more_info)
    %br
    = more_info(product)
    - if @bought_products.include? product
      %br
        = link_to t(:download_license), license_product_path(product, format: :txt)
    %br
    %p  
    - if product.user == current_user
      = link_to(t(:edit), edit_product_path(product), :class => "btn-vigoo btn-vigoo-small")
      = link_to(t(:download), download_product_path(product), :class => "btn-vigoo btn-vigoo-small", target: "_blank")
      = link_to(t(:delete), product_path(product), :class => "btn-vigoo btn-vigoo-small remove-product", :remote => true, :id => product.id, :method => :delete, :confirm => t(:are_you_sure))

  .clear
  .grid_12.separator
