.hero-unit
  
  .author_image_container
    .author_image
      - if !@user.photo.blank?
        = image_tag @user.photo.url, id: 'user_avatar'
    - if @user == current_user
      = link_to t(:change_photo), edit_photo_user_path(@user), :class => "btn-vigoo btn-vigoo-mini to_modal"
        
  .blue_container
    - if @user == current_user
      .actions
        = link_to t(:edit_account), edit_registration_path(current_user), :class => "btn-vigoo btn-vigoo-small"
        = link_to t(:edit_profile), edit_user_path(current_user), :class => "btn-vigoo btn-vigoo-small to_modal"

    %h1= @user.name

    - instrument_list = author_instruments(@user)
    - if ! @user.bio.nil?
      .bio_container
        %h2.section-subtitle= t(:biography)
        .bio.section-description
          = truncate(@user.bio.strip, :length => 130, separator: ' ' )
          - if @user.bio.strip.size > 130 || author_instruments_names(@user).size > 80
            .read-more
              =link_to user_details_path(@user), :class => "support to_modal" do
                = t(:read_more)
                &#9662;
    .region_container
      %h2.section-subtitle= t(:region)
      .region.section-description= @user.city.capitalize

      - if @user.categories.size > 0 || @user == current_user
        %h2.section-subtitle= t(:instruments)
        .section-description.instruments.ellipsis
          - if @user.categories.size > 0
            = instrument_list.map { |instrument| link_to(instrument.name, category_path(instrument), class: "support") }.join(", ").html_safe
          - else
            = link_to t(:add_user_categories), edit_user_path(current_user), :class => "btn-vigoo btn-vigoo-mini to_modal"
    
    - if @user.videos.size > 0 || @user == current_user
      .video_container
        %h2.section-subtitle= t(:related_videos)
        - if @user.videos.size > 0
          %ul
            - @user.last_videos.each do |video|
              - if video.info.thumbnail_small.present?
                %li{id: "user_video_#{video.id}"}
                  = link_to image_tag(video.info.thumbnail_small, :size => "120x75"), user_video_path(@user, video), target: "blank", :title => video.info.title, :class => "to_modal"
                  - if @user == current_user
                    = link_to( user_video_path(@user, video), :method => :delete, :confirm => t(:are_you_sure), :class => "btn-vigoo btn-vigoo-mini delete_video", :remote => true, :rel => video.id ) do
                      %i.icon-remove.icon-white
    
        .actions
          = render :partial => "users/add_video", :locals => { :user => @user }
    .clear
  
.clear
