
= link_to user_path(user) do
  .author_image_disk
    .author_mask &nbsp;
    .author_photo
      - if !user.photo.blank?
        = image_tag user.photo.url(:thumb_mask)
      - else
        = image_tag 'user_noimage.png'
    .author_file_count= user.product_count
    .author_files= t(:sound, :count => user.product_count)
  
  .author_name
    = user.name
.product_container.user_container
  .product_attributes
    %span.key= User.human_attribute_name(:city)
    %span.value= user.city

    %span.key= User.human_attribute_name(:confirmed_at)
    %span.value= user.created_at.strftime("%b, %Y")

    %span.key= User.human_attribute_name(:instruments)
    %span.value.instruments.ellipsis= author_instruments_names(user)


