
%h1.heading= t(:change_password)


= simple_form_for(@user, :url => update_password_users_path  ) do |f| 
  = f.input :password, :autocomplete => "off"
  = f.input :password_confirmation
  = f.input :current_password, hint: t(:current_password_hint)
  = f.button :submit, t(:update), class: 'btn-vigoo'