- content_for :modal_header do
  = t(:edit_profile)

= simple_form_for @user, :remote => true do |f|
  = render :partial => 'layouts/form_error_explanation', :locals => { :model => @user }
  = f.input :name
  = f.input :bio, :as => :text
  = f.label :categories
  = categories_check_box_list(@all_instruments, @user, "category_ids")
  = f.input :photo
  = f.input :city
  = f.input :country