- content_for :modal_header do
  = t(:change_photo)

.grid_12
  = link_to t(:choose_file), '#', :id => 'upload-add-files', :class => 'btn-vigoo'
  .fake-upload
    %input.file{ :id => 'upload-file-button', :type => 'file' }
  #photoupload
  
  #photo_progress.progress.progress-striped.active
    .bar{style: "width: 0;"}
    
  #photo_message{style: "display: none"}

  .simple_form
    %span.hint= t("simple_form.hints.user.photo")
 
= javascript_include_tag "user_photo_upload"
:javascript
  $(function() {
    // Checks if the elements exists
    if ($("#upload-add-files") && $("#upload-file-button")) {
      $("#upload-add-files").click(function() {
        $("#upload-file-button").click();
        return false;
      });
    }
  });
