%h1.heading= t(:author, :count => 2)
%h2.heading= "os artistas do oritmo"

.ordering{style: "width:384px"}
  %ul
    - @order_by_options.each do |key, val|
      - css_class = 'selected' if key == @order_by
      %li
        = link_to users_path(order_by: key), class: css_class do
          = "#{t(:by)} #{t(key.to_sym)}"
          - if key == @order_by
            %span.sort-arrow ▾
    %li.separator= "|"
    %li
      = link_to t("be_an_author"), user_signed_in? ? upload_path : new_user_registration_path

- @users.each do |user|
  .grid_3.similar_author
    = render partial: 'users/user_disk', :locals => { :user => user }
    
.clearfix
