- if (@products.size>0 && @user!=current_user) || params[:preview]
  = render partial: 'profile'

= render partial: 'activity'

- if @user != current_user && @products.size>0 
  %h1.heading= t(:author_sounds)
  %h2.heading= t(:find_authors_files)

  = render partial: 'layouts/products_ordering', locals: { url: user_path(@user) }

  - if @user == current_user
    .send-your-product
      = link_to t(:menu_make_money), upload_path, :class => 'btn-vigoo'
  
  - @products.each do |product|
    = render partial: 'products', :locals => { :product => product }
    
  .clearfix
  = will_paginate @products, param_name: "products_page"
  
  
  %h1.heading
    %span.blank= t(:similar_authors)
  - @similar_users.each do |author|
    .grid_3.similar_author.thumb
      = render partial: 'users/user_disk', :locals => { :user => author }
    
.clearfix

:javascript
  $(document).ready(function(){
    if( parseInt($('.blue_container h1').css('height')) > 50){
      $('.blue_container').css('height','372px');
    }

    // my products pagination
    if ($("#products").length>0 && GetURLParameter('products_page')!=undefined){
      $("#product_tab").tab('show');
    }

  });

  $(function(){
    // Function to activate the tab
    function activateTab() {
        var activeTab = $('[href=' + window.location.hash.replace('/', '') + ']');
        activeTab && activeTab.tab('show');
    }

    // Trigger when the page loads
    activateTab();

    // Trigger when the hash changes (forward / back)
    $(window).hashchange(function(e) {
        activateTab();
    });

    // Change hash when a tab changes
    $('a[data-toggle="tab"], a[data-toggle="pill"]').on('shown', function () {
        window.location.hash = '/' + $(this).attr('href').replace('#', '');
    }); 
  });


