- content_for :modal_header do
  = t(:add_video_details)

= simple_form_for [current_user, @video], :remote => true do |f|
  = render :partial => 'layouts/form_error_explanation', :locals => { :model => @video }
  = f.input :url