%tr.sortable
  %th= sortable 'id', 'ID'
  %th  Buyer
  %th= sortable 'status'
  %th= sortable 'amount'
  %th= sortable 'amount_paid', 'Amount Paid'
  %th= sortable 'message'
  %th= sortable 'created_at', 'Ordering date'
