%tr
  %td= payment.id
  %td= link_to(payment.user.name, admin_user_path(payment.user))
  %td= formatted_payment_status(payment.status)
  %td= payment.amount
  %td= payment.amount_paid
  %td= payment.message
  %td= payment.created_at
