.page-header
  %h1 Payments

.pagination{style: 'float:left' }
  %ul
    -@statuses.each do |status|
      - status_display = "#{formatted_payment_status(status.status)} (#{status.status_count})"
      - css_class = ''
      - css_class='active' if status.status == @status
      %li{class: css_class}= link_to status_display, "?status=#{status.status}"

%div{style: 'float:right'}
  = will_paginate @payments
 
%div{style: 'float:left'}
  #date_filter
    = form_tag(admin_payments_path, method: :get, class: "form-inline", id: :range_filter_form) do
      = label_tag :from
      = text_field_tag :from, params[:from] || 1.month.ago.strftime("%d/%m/%Y"), class: "input input-small datepicker"
      = label_tag :to
      = text_field_tag :to, params[:to] || Date.today.strftime("%d/%m/%Y"), class: "input input-small datepicker"
      = submit_tag "Filter", class: "btn"

%table.table.table-striped
  = render partial: 'admin/payments/payment_heading'
  - @payments.each do |payment|
    = render partial: 'admin/payments/payment_row', locals: { payment: payment }
