
%h1.heading= t(:confirm_purchase)
/ .alert.alert-error No momento não é possível realizar compras.


= form_tag product_orders_path(@product) do #"/sons/#{@product.id}/orders" do
  .confirm_order
    = render partial: '/products/product_info', locals: { product: @product, user: @user }
    .buttons
      .grid_6.left
        = link_to(t(:cancel), :back, class: "btn-vigoo btn-danger", :name => 'cancel_button')
      .grid_6.right
        - if @user.account.balance < @product.price
          = submit_tag(t(:add_credit), class: "btn-vigoo")
        - else
          = submit_tag(t(:confirm), class: "btn-vigoo btn-success")

