
<div>
	<h1>ORitmo – Termos & Condições</h1>
	<h2>REGRAS GERAIS</h2>
	
	<p>
		(as in: http://www.ORitmo.com/termos)<br><br>
		Seguem abaixo os termos e condições (Termos e Condições) que irão regular o uso deste web site, e todo e qualquer conteúdo disponível a partir ou através de ORitmo (Site), incluindo mas não limitado a:
		<br><br>
		Este site é de propriedade e operado por ORitmo Ltda., doravante designado simplesmente como “ORitmo” ou “Nós”.
		<br><br>
		Seu uso ou o acesso ao Site indica que você aceita e concorda com estes Termos e Condições:
		<br><br>
	<ol>
		<li>
			<strong>Cadastro:</strong><br> 
			Você não precisa ser cadastrado no Site para acessar ou usar nosso conteúdo ou serviços. Contudo, algumas áreas, conteúdos e serviços são restritos somente aos usuários cadastrados.
		</li>
			<br><br>
		<li>
			<strong>Do Uso do Site:</strong><br> 
			O uso do Site não lhe concederá titularidade ou qualquer outro título de propriedade sobre os direitos decorrentes do conteúdo, códigos, informações ou materiais que acessar no ou através do Site.
			<br><br>
			Você pode baixar gratuitamente uma cópia de conteúdos desde que estejam disponíveis desta forma no Site, sendo certo que você deverá manter os direitos autorais e outros avisos contidos naquele respectivo conteúdo. Os demais conteúdos que não estiverem indicados como “gratuitos” somente poderão ser adquiridos mediante pagamento do preço correspondente.
			<br><br>
			Se você fizer qualquer outra utilização do Site ou dos seus Produtos, conteúdo, código, dados e/ou materiais alí disponibilizados em desacordo com as autorizações concedidas, salvo disposição em contrário, você irá violar direitos autorais e outras leis civis e penais, e, portanto, poderá ser responsabilizado e penalizado por tal uso não autorizado.
		</li>
			<br><br>
		<li>
			<strong>Do Respeito aos Direitos Autorais:</strong><br> 
			ORitmo respeita os direitos de propriedade intelectual de terceiros, e, portanto, é requisito fundamental que as pessoas que utilizam o Site, seus serviços ou recursos disponibilizados no ou através do Site, façam o mesmo.
			Se você acredita que seu trabalho foi copiado de alguma forma e que constitua violação de direitos autorais, por favor envie as seguintes informações para ORitmo:
			<br><br>
			- seu nome, endereço, número de telefone e endereço eletrônico;
			- endereço eletrônico (URL) dentro do ORitmo, onde o material objeto da suposta infração se encontra;
			- uma descrição do trabalho protegido por direitos autorais que você alega ter sido violado, e;
			- uma declaração sua, garantindo que as informações supramencionadas em seu aviso são verdadeiras e que você é o titular dos direitos autorais ou está autorizado a agir em nome de seu titular.
			<br><br>
			As informações acima mencionadas deverão ser enviadas através de nosso “Formulário de Denúncia”.
		</li>
			<br><br>
		<li>
			<strong>Marcas:</strong><br> 
			Todas as marcas comerciais, logotipos, marcas de serviço e nomes comerciais (todas em conjunto denominadas Marcas) exibidas no Site, ou em qualquer conteúdo disponível no ou através do Site, são marcas registradas (e não registradas) de titularidade de ORitmo e outros terceiros, se for o caso.
			<br><br>
			Nada contido no Site deve ser interpretado como uma concessão expressa ou implícita de qualquer licença ou direito de uso de qualquer Marca exibida no Site, sem permissão prévia e por escrito do ORitmo e/ou o terceiro titular da respectiva Marca.
		</li>
			<br><br>
		<li>
			<strong>Alterações nos Termos e Condições:</strong><br> 
			ORitmo poderá, a seu exclusivo critério, rever ou alterar estes Termos e Condições (no todo ou em parte) ao longo do tempo e a qualquer momento, sempre que julgar necessário, sem aviso prévio aos seus usuários.
			<br><br>
			As alterações nos Termos e Condições serão consideradas efetivas e válidas quando publicadas por nós no Site. O uso contínuo do Site e/ou de seus serviços disponíveis através dele, após feitas e publicadas quaisquer alterações nos Termos e Condições, será considerado como aceitação dos novos termos decorrentes de tais alterações.
			<br><br>
			O presente documento contendos os Termos e Condições estará disponível para consultas, a qualquer tempo, no endereço http://ORitmo.com/termos
		</li>
			<br><br>
		<li>
			<strong>Informações sobre o usuário:</strong><br> 
			No decurso da  utilização do Site e/ou o conteúdo ou serviços alí disponibilizadose, você pode ser solicitado a nos fornecer determinadas informações pessoais (Informações do Usuário). As informações coletadas por ORitmo  e as políticas de uso no que diz respeito à privacidade de informações do usuário, estão definidas nas Políticas de Privacidade do Site. (http://ORitmo.com/privacidade)
			<br><br>
			Você é o único responsável pela exatidão e conteúdo das informações do usuário.
		</li>
			<br><br>
		<li>
			<strong>Site de terceiros:</strong><br> 
			Você pode ser capaz de se mover a partir do ORitmo para site de terceiros (Sites de Terceiros).
			<br><br>
			Você reconhece e concorda que nós não temos nenhuma responsabilidade pela informação, conteúdos, produtos, serviços, publicidade, código ou outros materiais que podem ou não ser fornecidos por ou através de site de terceiro, mesmo que sejam pertencentes ou administrados por afiliadas nossas.
			<br><br>
			A inclusão de qualquer link para web site no ORitmo não implica no endosso, patrocínio ou recomendação desse site por ORitmo.
			<br><br>
			ORitmo se exime de qualquer responsabilidade pelos links para outros web sites, assim como por seu conteúdo, dados, políticas de uso, serviços e outros.
		</li>
			<br><br>
		<li>
			<strong>Renúncia:</strong><br> 
			A Lei Civil  Brasileira poderá conferir direitos e soluções para você em relação aos bens ou prestação de serviços no Site que não podem ser excluídos, restringidos ou modificados por ORitmo (Direitos Irrenunciáveis). ORitmo, portanto, observará todos estes direitos, porém exclui todas as outras condições e garantias não expressamente previstas em lei.
		</li>
			<br><br>
		<li>
			<strong>Ressalvados os Direitos Irrenunciáveis:</strong><br> 
			<ul>
				<li>
					Todo o conteúdo e serviços do Site é fornecido na forma como se apresenta e sem garantias consideradas implícitas;
				</li>
				<li>
					ORitmo e seus fornecedores se isentam expressamente de todas as garantias de qualquer tipo, incluindo mas não limitado a, garantias implícitas de comercialização e adequação a uma finalidade  específica que pretenda o usuário;
				</li>
				<li>
					ORitmo não garante que as funções contidas em qualquer conteúdo ou o que seu acesso ao Site seja ininterrupto ou livre de erros, que os defeitos serão corrigidos ou que o Site ou o servidor que armazena e transmite conteúdo entregue a você, está livre de vírus ou quaisquer outros componentes prejudiciais;<br><br>
				</li>
			</ul>
				Sob nenhuma circunstância irá ORitmo (incluindo, mas não limitado a, qualquer ato ou omissão por parte do ORitmo) ou qualquer de suas afiliadas, serem responsabilizadas ​​por quaisquer danos indiretos, incidentais, especiais e / ou indiretos ou lucros cessantes de qualquer natureza que resultem de qualquer uso ou acesso, ou qualquer impossibilidade de usar ou acessar o Site ou o seu conteúdo

				Dentro dos limites legais, a responsabilidade do ORitmo por violação de qualquer garantia referente aos Conteúdos oferecidos, ORitmo se reserva à escolha do seguinte:<br>
				<ul>
					<li>
						o fornecimento dos Conteúdos novamente;
					</li>
					<li>
						crédito no valor equivalente ao Conteúdo para utilização no próprio Site;
					</li>
					<li>
						 a substituição dos Conteúdos por outros equivalentes;
					</li>
				</ul>
			<br><br>
		<li>
			<strong>Leis Aplicáveis:</strong><br>
			Nós controlamos e operamos o Site de nossos escritórios no Brasil, em conformidade a legislação deste país. Não garantimos que os materiais do site sejam adequados ou disponíveis para utilização em outros locais. Pessoas que optam por acessar o Site de outras localidades o fazem por sua própria iniciativa e são responsáveis ​​pelo cumprimento das leis locais, se e na medida em que as leis locais sejam aplicáveis​​.
		</li>
			<br>
	</ol>
		<strong>Termos e Condições ORitmo</strong><br>
		(as in: http://www.ORitmo.com/termos/)
	</p>
</div>

<div>
	<h1>ORitmo – Termos &amp; Condições</h1>
	<h2>Condições Específicas</h2>
	<p>
	<ol>
		<li>
			<strong>Requisitos de idade:</strong><br> 
			Para se cadastrar neste Site para fins de utilização do mesmo em seu próprio nome, você deve ter pelo menos 18 anos de idade. Se você menor de 18 anos deverá apresentar o presente Acordo para seu responsável legal, e somente estes poderão concordar, clicando em "CONCORDO" para celebrar este Contrato, em seu nome, ficando assim responsável legalmente por todas as operações realizadas no Site, inclusive todos os encargos financeiros decorrentes de tal uso.
		</li>
			<br><br>
		<li>
			<strong>Descrição do Website:</strong><br> 
			Através da utilização do site, você tem permissão para ouvir amostras (conforme definido abaixo), e obter downloads digitais de gravações de som e conteúdo digital relacionado, incluindo músicas, mixagens e loops (todos em conjunto doravante denominados "Conteúdo"). Fica estabelecido que o Conteúdo pode ser às vezes referido neste Acordo também como "Produtos".  Você é responsável por qualquer hardware, sistemas e / ou programa (s) que usa, bem como todas as taxas e despesas  relacionadas (a) para conectar e navegar na Internet, e/ou (b) para acessar o site, e /ou (c) para navegar, escutar, baixar, reproduzir, gravar ou transferir o conteúdo. De tempos em tempos, você pode ter que instalar o software, disponível através do site, para ajudar na acessibilidade do Conteúdo; no entanto, a compra ou obtenção de qualquer outro produto não deve ser interpretada como forma para ou garantir-lhe acesso ao Conteúdo.
		</li>
			<br><br>
		<li>
			<strong>Dados de Registo e Contas:</strong><br> 
			Para usar alguns recursos do site, você deverá se registrar e fornecer determinadas informações (por exemplo, nome de usuário, senha, informações de faturamento e endereço válido de e-mail) para ORitmo (doravante denominados simplesmente como "Dados de Registro"),  para efeitos de criação de uma Conta, adiante chamado simplesmente de "Minha Conta". Você concorda em fornecer, no momento de registrar, “dados de registro” atuais, completos e precisos, se comprometendo ainda a manter atualizado seu cadastro. ORitmo pode encerrar sua conta e todos ou quaisquer direitos referentes ao Site se você fornecer qualquer informação considerada imprecisa, falsa ou incompleta. Você declara e concorda que ORitmo poderá armazenar e utilizar os “Dados de Registro” fornecidos para utilização em taxas de cobrança no cartão de crédito, bem como na manutenção de sua conta.
		</li>
			<br><br>
		<li>
			<strong>Segurança da Conta:</strong><br> 
			Você é o único responsável por manter a confidencialidade e segurança da sua Conta. Desta forma você concorda em notificar imediatamente ORitmo à respeito de qualquer uso não autorizado de sua senha e/ou conta. ORitmo não será responsável por quaisquer perdas decorrentes de tal uso não autorizado de seus “Dados de Registro” ou conta, e você concorda em isentar e indenizar ORitmo, seus parceiros, subsidiárias, agentes, afiliadas e/ou licenciados, se aplicável, decorrentes de todos os usos impróprios, não autorizados ou ilegais originados de sua conta. Você declara estar ciente de que não poderá tentar obter acesso não autorizado ao site. Se você tentar fazer isso, ajudar a terceiros em tais tentativas, ou realizar a distribuição de instruções, software ou ferramentas para esse fim, ORitmo se reserva o direito de encerrar sua conta, sem qualquer aviso prévio ou notificação. Ocorrendo o cancelamento da conta, nos termos deste item, de um usuário cadastrado que possua créditos, ORitmo irá proceder ao reembolso do valor correspondente na mesma forma em que tiver sido feita a aquisição destes créditos.
		</li>
			<br><br>
		<li>
			<strong>O consentimento para a nossa comunicação com você por e-mail:</strong><br> 
			Ao estabelecer uma Conta ORitmo você concede permissão para ser contatado em seu endereço de e-mail conforme fornecido em seus “Dados de Registro”.
		</li>
			<br><br>
		<li>
			<strong>Material Censurável:</strong><br> 
			Ao utilizar o Site, você declara que pode, eventualmente, encontrar algum Conteúdo que possa ser considerado censurável, indecente ou ofensivo, e que pode ser identificado como tendo linguagem explícita. Desta forma, você concorda em usar o Site por sua conta e risco, sendo certo que  ORitmo não terá nenhuma responsabilidade legal perante você por Conteúdos que podem ser considerados desta natureza.
		</li>
			<br><br>
		<li>
			<strong>Conteúdo:</strong><br> 
			Fica certo e entendido que todo o Conteúdo, incluindo, mas não limitado a, música por download e/ou amostras, e todo o software, arte, gráficos, vídeo, texto, interfaces, marcas comerciais, logotipos, imagens, fotografias e qualquer outro elemento do site, aí incluídos o layout, organização e coordenação, conforme apresentado no Site, é de propriedade ou está licenciado para ORitmo, e, portanto, está protegido pelas leis brasileiras e tratados internacionais que tratam direitos relacionados a Propriedade Intelectual, aí incluídos, direitos autorais, marcas, patentes e outros. Portanto, ressalvados aqueles Conteúdos adquiridos através da compra de licenças ou gratuitamente se assim estiverem disponíveis, nenhum outro Conteúdo pode ser transmitido, distribuído, traduzido, executado publicamente, carregado, publicado, gravado, retransmitido, alugado, digitalizados, comercializado, reproduzido, alterado ou incluído para criação de novas obras, comunicados, ou compilados de qualquer forma.
		</li>
			<br><br>
		<li>
			<strong>Conteúdo - Regras de Utilização / Licença Limitada:</strong><br> 
			O acesso e/ou uso de quaisquer Produto(s) será limitada as regras atribuídas aos Produto(s) por ORitmo ("Regras de Uso de Conteúdo") conforme descrito nesta seção. Você não poderá tentar dar apoio à tentativas de terceiros com vistas a descriptografar, fazer engenharia reversa, contornar, ou de qualquer forma alterar ou interferir com o uso de qualquer software, necessário para o uso do Site ou qualquer uma das Regras de Uso de Conteúdo. 
		</li>
			<br><br>
		<u>Definições</u><br>
		(i) A "Amostra" é uma parte promocional de um produto que é disponibilizado enquanto você estiver conectado ao Site. As “Amostras” também podem consistir de um vídeo promocional de determinada música. As “Amostras” são oferecidas sem nenhum custo para você, e, assim, você poderá ouvir quantas vezes desejar. Você não poderá tentar, ou dar apoio a tentativas de  terceiros para baixar (download), copiar, distribuir, alterar ou capturar qualquer “Amostra”.
		<br>
		(ii) O "Download" é um Produto disponibilizado em caráter gratuito ou oneroso, cuja utilização poderá ser realizada por qualquer modalidade existente ou que vier a ser inventada, conforme estipula o inciso X do artigo 29, da Lei 9.610/98, sem limitação de número de cópias, meios e modos de reprodução, distribuição, inclusão, exibição, através de contratos de distribuição e/ou exibição, no Brasil e no exterior.
			<br><br>
		<li>
			<strong>Uso Proibido de Downloads:</strong><br>
			Você não pode fazer engenharia reversa, descompilar, desmontar, modificar ou desativar qualquer proteção contra cópias ou usar sistemas de limitação associadas com os Downloads.<br>
			Você não pode escutar e depois redigitalizar quaisquer Downloads. 
			Não é permitido o uso dos Produtos adquiridos de ORitmo para colocação à disposição em sites e/ou serviços idênticos ou similares ao de ORitmo, sob pena de o fazendo, responder legalmente por todas as perdas e danos a quer der causa.
		</li>
			<br><br>

		<li>
			<strong>Perda de Direitos por ORitmo:</strong><br>
			ORitmo pode, a qualquer momento, perder o direito de disponibilizar determinados Produtos. Neste caso, você não vai mais ser capaz de acessar tais Produtos a partir da Biblioteca do ORitmo  ou obtê-los a partir do catálogo do site. 
		</li>
			<br><br>
			
		<u><strong>Encargos / Faturas para Usuários Finais</u></strong><br>
			<br><br>
		<li>
			<strong>Do Pagamento:</strong><br>
			Você concorda em pagar por todos os Conteúdos que adquirir através do Site, concedendo ao ORitmo, se optar por esta forma, a possibilidade de carregar de crédito sua conta para uso posterior. Se optar por esta forma de pagamento, Você concorda em autorizar ORitmo carregar de créditos conforme os dados e informações que lhe serão solicitados no momento do pedido. 
		</li>
			<br><br>
		<li>
			<strong>Vendas pra Usuários Finais:</strong><br>
			Fica certo e entendido que ORitmo vende produtos aos clientes finais apenas, e não a revendedores, distribuidores, revendedores de música, exportadores, atacadistas, ou quaisquer outras empresas com a intenção de revender.
		</li>
			<br><br>
		<li>
			<strong>Direito de Recusa:</strong><br>
			ORitmo se reserva o direito de recusar o acesso ao site ou a venda de produtos por qualquer motivo, a qualquer Usuário Final ou Produtor de Conteúdo, sem necessidade de justificativa.
		</li>
			<br><br>
		<li>
			<strong>Direito de alterar os preços e disponibilidade do produto:</strong><br>
			Preços e disponibilidade dos produtos oferecidos através do site estão sujeitos a alterações a qualquer momento. ORitmo não fornece proteção de preço ou reembolso em caso de uma queda de preço ou oferta promocional.
		</li>
			<br><br>

		<li>
			<strong>Download:</strong><br>
			Cada Download é uma venda individual e está sujeito aos termos e condições deste Contrato. Cada compra de Downloads será considerada como uma transação separada, e cada entrega de um Download constituirá uma venda separada, mesmo se a entrega se der em cumprimento total ou parcial de um pedido.
		</li>
			<br><br>
		<li>
			<strong>Política de Reembolsos:</strong><br>
			Todas as vendas são consideradas efetivas e todos os encargos decorrentes dessas vendas não serão reembolsáveis. ORitmo não reembolsa quaisquer taxas para Produtos  que você tenha adquirido, mesmo na hipótese do download não ser efetivado, ressalvados os casos em que a falha tenha sido originada exclusivamente por culpa do ORitmo. Neste último caso, será oferecido ao Usuário crédito correspondente ao do Conteúdo perdido para utilização no próprio Site.
		</li>
			<br><br>
		<li>
			<strong>Impostos:</strong><br>
			Você é responsável pelo pagamento de quaisquer taxas, impostos e outros tributos de qualquer esfera, decorrentes de suas compras, incluindo, mas não limitado a, venda, uso e outros.
		</li>
			<br><br>

		<li>
			<strong>Política de Aceitação de Pedidos:</strong><br>
			O recebimento de um formulário eletrônico ou de outra confirmação não (1) constituem oferta ORitmo para realizar a venda e (2) constitui uma aceitação de ORitmo ao seu pedido. ORitmo reserva-se o direito de, a seu exclusivo critério, e sem aviso prévio, e por qualquer motivo, a recusar o seu pedido de produto (s), ou fornecer menos do que a quantidade que você requisitou após o recebimento da sua encomenda.
		</li>
			<br><br>
		<li>
			<strong>Métodos de Pagamentos:</strong><br>
			ORitmo atualmente aceita pagamentos via PayPal. ORitmo não aceita dinheiro, ordens de pagamento ou cheques. ORitmo reserva o direito de alterar esta política a qualquer momento. Você concorda em pagar todas as taxas e encargos associados à sua compra (s), incluindo os impostos aplicáveis​​.  
		</li>
			<br><br>
		<li>
			<strong>Aceite Eletrônicos e Contratos:</strong><br>
			O uso do site e a criação de uma conta inclui a possibilidade de celebrar acordos e/ ou para fazer compras por via eletrônica. Você concorda, portanto, que quaisquer envios de informações que você faz para realizar tais compras eletrônicas, representam e declaram a sua vontade e a concordância com os termos deste contrato, consequentemente, a comprovação de que concorda em pagar por essas compras. Sua concordância e a declaração de vontade de se submeter as regras deste contrato, através do envio de informações eletrônicas, se aplica a todos os registros relacionados a todas as transações que entram no site, incluindo avisos de cancelamento, políticas, contratos e aplicações.
		</li>
			<br><br>
		<li>
			<strong>Do Fornecimento de Conteúdo e a Remuneração de seus Produtores:</strong><br>
			São considerados Produtores de Conteúdos aqueles usuários que fornecem suas criações para disponibilização através de ORitmo.<br> 

			Fica bem certo e ajustado que é condição fundamental para utilização dos serviços do ORitmo por Produtores de Conteúdos, na qualidade de fornecedores dos mesmos, que sejam criações originais e primígenas do respectivo Produtor e, portanto, de sua exclusiva titularidade/propriedade. Deste modo, declaram e asseguram os Produtores de Conteúdo que sua publicação, divulgação, disponibilização, reprodução, execução ou qualquer outra forma de utilização feita através de ORitmo, não infringem ou violam quaisquer direitos de terceiros. Declaram ainda os Produtores de Conteúdo que não possuem qualquer impedimento para o fornecimento dos Conteúdos disponibilizados através de ORitmo.<br>

			Na hipótese de reclamação de terceiros que tenham por objeto a utilização indevida de determinado Conteúdo, ORitmo se reserva o direito de suspender a disponibilização daquele determinado Conteúdo até que se resolva a questão.<br>

			Caso ORitmo seja acionado judicial ou extrajudicialmente por questões relativas ao uso indevido de obras de terceiros protegidas pelas leis e tratados de direitos autorais, ou por qualquer outra razão que guarde relação com a propriedade intellectual dos Conteúdos disponibilizados, ORitmo poderá (i) chamar à lide o Produtor de Conteúdo que o disponibilizou para responder perante o reivindicante, e/ou (ii) reaver do Produtor de Conteúdo toda e qualquer despesa incorrida em virtude de tal reivindicação, aí incluídos, mas não se limitando a, indenizações, honorários advocatícios, taxas, encargos etc.
		</li>
			<br><br>

		<strong><u>Da Remuneração do Produtor de Conteúdo e sua regras de pagamento.</strong></u>
		<br><br>

		<div>
			<ol>
				<li> <strong>Remuneração:</strong><br>
					Por cada Download efetuado e efetivamente pago o Produtor de Conteúdo fará jus a uma remuneração que corresponderá a 60% (sessenta por cento) do valor bruto cobrado pelo ORitmo do Usuário Final.<br>

					Fica entendido que este percentual poderá ser alterado a qualquer tempo por ORitmo, sem aviso prévio, sendo certo que o novo percentual terá validade a partir da data da sua divulgação por ORitmo.
				</li>
					<br><br>
				<li> <strong>Regras de Repasse</strong><br>
					Para rendimentos inferiores a R$ 50,00 (cinquenta Reais), o Produtor de Conteúdo poderá realizar gastos no próprio Site no valor correspondente, ou deixar acumular para recebimento posterior. Se após 12 (doze) meses o saldo ainda estiver abaixo de R$ 50,00 (cinquenta Reais), o Produto de Conteúdo poderá receber o valor nos termos aqui estabelecidos.<br>

					Os créditos devidos cada Produtor de Conteúdo serão calculados e processados ​​no final de cada mês do ano calendário, e pagos no dia 15 de cada mês subsequente ao vencido.<br>

					Os pagamentos serão realizados através de uma conta no serviço Pay Pal, no qual o Produtor de Conteúdo deverá abrir e associar ao seu cadastro no Site.
				</li>
			</ol>
		</div>
		<br>

		<strong>Outras Características e Termos &amp; Condições</strong><br><br>

		<li>
			<strong>Recursos Comunitário/ Áreas Públicas:</strong><br>
			O Site pode conter recursos projetados para ajudar os Usuários a encontrar conteúdo de interesse pessoal pela visualização de conteúdo que os outros usuários recentemente acessaram e/ou baixaram. Esses recursos podem incluir o acesso da maioria dos Usuário Cadastrados, a lista  dos recentemente mais tocados e o acesso a coleções de membros com este Conteúdo. Além disso, ORitmo pode apresentar quadros de mensagens e / ou salas de bate-papo que permitem a comunicação e postagem de perfis de público entre os usuários do site.<br>  

			ORitmo tem o direito, mas não a obrigação, de monitorar, editar ou remover qualquer atividade ou conteúdo nessas áreas públicas, ou para restringir acesso a outros usuários, coleção de conteúdo ou perfis públicos. ORitmo não é responsável e não se responsabiliza por qualquer atividade, conteúdos, mensagens e afins que você ou outros usuários que participem de uma área pública ou um perfil público, ou conteúdo enviado para outro usuário através de um sistema de mensagens instantâneas.
		</li>
			<br><br>

		<li>
			<strong>Restrições:</strong><br>
			Você não pode usar o Site (ou qualquer parte dele, incluindo, mas não limitado a, áreas públicas) para fazer upload, publicar, transmitir, exibir, executar ou disponibilizar qualquer mensagens, conteúdos ou materiais (i) que são ilegais, obscenos, ameaçadores, de um "spam", de natureza, difamatória, ou invasão de privacidade; (ii) violar (intencionalmente ou não) uma obrigação contratual, fiduciária ou de confidencialidade ou direito que você tiver para com terceiros, (iii) que constituem campanha política ou comercial, solicitação ou que contenham vírus ou outro código de computador projetados para interferir com a funcionalidade de qualquer sistema de computador, ou (iv) que infrinjam direitos de terceiros ou menores de idade, danos de qualquer forma. Você não pode interferir ou interromper o Site, ou quaisquer redes conectadas ou pelo site, e; (v) violação de direitos autorais de terceiros usuários oi não. Além disso, você não pode usar um endereço de e-mail falso ou de outra maneira enganar outros membros, ou a origem de uma mensagem ou conteúdo.
		</li>
			<br><br>

		<li>
			<strong>Direitos de ORitmo:</strong><br>
			Ao postar mensagens, enviar dados ou Conteúdos, ou participar de qualquer outra forma de comunicação através do Site, você concorda que ORitmo poderá comercializar, executar publicamente, reproduzir, armazenar, publicar, copiar, sub-licenciar, adaptar, transmitir, apresentar publicamente ou exibir tal Conteúdo para fornecer e/ou promover o Site e/ou para responder a qualquer exigência legal, reclamação ou ameaça. Se a utilização  de tais conteúdos explorar quaisquer direitos de propriedade que você possa ter sobre esses Materiais, você concorda que ORitmo possui uma licença irrestrita, livre de royalties, não-exclusiva e perpétua, em todo o mundo para exploração destes mesmos direitos. Você declara e garante que possui ou controla todos os direitos decorrentes de tal Conteúdo, material, mensagens e afins que postar, carregar, transmitir ou apresentar; que o conteúdo, material, mensagens e afins são verdadeiras e que o seu uso não viola direitos de terceiros e não causará danos a qualquer pessoa ou entidade, e que você irá indenizar ORitmo, seus parceiros, subsidiárias, agentes, afiliadas e/ou licenciantes , se aplicável, de condenações e/ou indenizações decorrentes de reclamações resultantes da publicação ou qualquer outra utilização deste Material fornecido, postado e/ou transmitidos por você. Você concorda ainda que qualquer perda ou dano de qualquer natureza que ocorra como resultado do uso de qualquer mensagem, conteúdo ou material que você enviar, postar, transmitir, exibir ou disponibilizar através do uso do Site será de sua exclusiva responsabilidade.
		</li>
			<br><br>

		<li>
			<strong>Direitos Autorais sobre o Site:</strong><br>
			Todos os direitos autorais decorrentes do uso do Site, incluindo mas não limitado a, a loja de música ORitmo (incluindo a compilação de conteúdo, mensagens, links para outros recursos da Internet, e descrições desses recursos), e software, são propriedade da ORitmo e/ou de seus parceiros Licenciantes. O uso do Site, ou qualquer Conteúdo, ressalvadas as permissões expressamente previstas no presente Acordo, é proibido e sujeito a penalidades civis e criminais, incluindo possíveis indenizações pecuniarias, por violação de direitos autorais. Fica entendido que todos os direitos não concedidos expressamente neste Contrato, são reservados para ORitmo e/ou seus Licenciantes.
		</li>
			<br><br>

		<li>
			<strong>Violação dos Direitos de Propriedade Intelectual:</strong><br>
			Se ORitmo receber notificação ou aviso informando que há indicação de violação de direitos autorais ou de outros direitos de propriedade intelectual,  ORitmo se reserva o direitos de suspender ou encerrar sua conta, sem aviso prévio, sendo certo que não poderá ser responsabilizado de qualquer forma, perante qualquer órgão ou mesmo a você, em qualquer tempo, pela suspensão ou extinção, conforme dispõe este parágrafo.
		</li>
			<br><br>

		<li>
			<strong>Aplicação Destes Termos:</strong><br>
			ORitmo reserva o direito de recorrer e tomar as medidas que julgar cabíveis ou apropriadas para fazer cumprir, ou verificar o cumprimento, de qualquer parte do presente Acordo (incluindo mas não limitado a, cooperação com qualquer processo legal relativo ao uso do Site e/ou Conteúdo; e/ou uma reclamação de terceiros alegando que o uso do Site e/ou de Conteúdo é ilegal e/ou viola os direitos de tais terceiros). Você concorda e autoriza que ORitmo tem o direito, sem necessidade de prévia e expressa notificação, de divulgar qualquer Dados Cadastrais/Conta de informações às autoridades policiais, funcionários do governo, e/ou de terceiros, desde que oficialmente solicitado, ou que se dê para verificação do correto cumprimento do presente acordo.
		</li>
			<br><br>

		<li>
			<strong>Não Responsabilização por Materiais de Terceiros ou do Web Site:</strong><br>
			O site pode incluir produtos, conteúdos e serviços de terceiros disponíveis através do Site. ORitmo pode incluir links para sites de terceiros, que são fornecidos apenas como uma conveniência para você. ORitmo não assume nenhuma obrigação ou responsabilidade perante terceiros do conteúdo de tais websites, e você reconhece e concorda que ORitmo não é responsável por avaliar ou analisar o conteúdo ou veracidade de qualquer material contido nestes websites.
		</li>
			<br><br>

		<li>
			<strong>Rescisão / Cancelamento:</strong><br>
			Na hipótese de descumprimento de qualquer das disposições do presente Acordo, incluindo, mas não limitado ao, não pagamento das taxas ou fornecimento de informações incorretas, imprecisas e incompletas quando do preenchimento dos “Dados de Registro”, a incapacidade ou falha ao proteger as suas informações de conta, ou violação das Regras de Utilização, ou de qualquer licença para o software, ORitmo, a seu exclusivo critério, sem aviso prévio poderá: (i) rescindir este Contrato e/ou sua Conta, sendo certo que você permanecerá responsável por todos os valores devidos em função da utilização da sua Conta até a data da rescisão, inclusive, e/ou (ii) impedir o seu acesso ao Site, ou qualquer parte dele. ORitmo poderá, a seu exclusivo critério, modificar, suspender ou descontinuar o site (ou qualquer parte ou conteúdo do mesmo) a qualquer momento, com ou sem aviso prévio, e não poderá ser responsabilizado por exercer este direito, salvo nos casos de descontinuidade de serviços pré-pagos, hipótese na qual ORitmo se compromete a  reembolsar proporcionalmente ao que tenha sido efetivamente utilizado. 
		</li>
			<br><br>

		<li>
			<strong>Conformidade Geral com as Leis:</strong><br>
			O presente Acordo é regulado de acordo com a legislação nacional vigente, bem como os tratados internacionais que se aplicam ao uso do Site e/ou de seu Conteúdo, os quais você declara que irá respeitar.
		</li>
			<br><br>

		<li>
			<strong>Renúncias e limitações com Responsabilidade:</strong><br>
			<ul>
				<li>
					Você concorda que de vez em quando ORitmo pode remover o Site por períodos de tempo indefinidos, ou cancelar o Site a qualquer momento, com ou sem aviso prévio.
					<li>

				<li>
					ORitmo não oferece nenhuma garantia de que qualquer gravador de CD especial ou dispositivo portátil será compatível com o Site ou qualquer conteúdo oferecido no site.
				</li>

				<li>
					Sob nenhuma circunstância deve ORitmo ser responsabilizado por qualquer uso não autorizado do Site ou de seu Conteúdo. 
				</li>
			</ul>
		</li>
			<br><br>

		<li>
			<strong>Mercadoria / Ofertas:</strong><br>
			ORitmo se reserva o direito de retirar quaisquer ofertas gratuitas ou de promoções de preços especiais qualquer em mercadoria, a qualquer momento.
		</li>
			<br><br>

		<li>
			<strong>Foro Legal:</strong><br>
			Fica desde já eleito o foro da cidade e Estado do Rio de Janeiro, para dirirmir quaisquer questões referentes ao presente Acordo.
		</li>
			<br><br>
	</ol>
</div>
