%h1.heading= t(:about_us)
%h2.heading.multiline= t(:about_us_subtitle).html_safe

.container_12.open_text
  .grid_1
    &nbsp;
  .grid_10.alpha.omega
    = image_tag "sobre/violao.jpg", style: "margin: 20px 0 10px 0"


    %h3= t(:why_oritmo)
    
    %p= t(:why_oritmo_text).html_safe


    = image_tag "sobre/pandeiro.jpg", style: "margin: 60px 0 10px 0"

    %h3= t(:how_does_it_work_brazilian_musicians)

    %p= t(:how_does_it_work_brazilian_musicians_text).html_safe



    = image_tag "sobre/pife.jpg", style: "margin: 60px 0 10px 0"

    %h3= t(:how_does_it_work_buyers)

    %p= t(:how_does_it_work_buyers_text).html_safe



    = image_tag "sobre/bandolim.jpg", style: "margin: 60px 0 10px 0"

    %h3= t(:which_files_can_upload)

    %p= t(:which_files_can_upload_text).html_safe



    = image_tag "sobre/violoes.jpg", style: "margin: 60px 0 10px 0"

    %h3= t(:who_are_we)

    %p 
      = t(:who_are_we_text)
      = "#{mail_to "play@oritmo.com", t(:send_an_email), encode: 'hex'}.".html_safe
      
    .grid_3.alpha
      = t(:executive_management)
      %br
      = t(:technology_management)
      %br
      = t(:artistic_direction)
      %br
      = t(:product_management)
      %br
      = t(:financial_management)
      %br
      = t(:technology)
      %br
      = t(:academic_research)
      %br
      = t(:legal_assistance)
      %br
      = t(:content_comunity)
    
    .grid_4.bold
      Daniel Pereira e Marcelo Gluz
      %br
      Gastão Brun
      %br
      Rodrigo Sha
      %br
      Ana Bel Campos
      %br
      PG Felix
      %br
      Bruno Azisaka e Marcos Rodrigues
      %br
      Helena Klang
      %br
      Gabriela Lacombe 
      %br
      Victor Rodrigues e Fernando Rosendo
    
.clearfix
