.grid_12
  #beta-home
    %h1.heading Bem-vindo
    %h2.heading beta.oritmo.com
    %p.welcome
      Seja bem-vindo a versão 1.0 de ORITMO.
    %br
    %p.welcome 
      Se você está vendo o site neste estágio, é um dos músicos que escolhemos como beta-testers, ou seja, sua opinião é muito importante até que o produto esteja 100%. 
    %br
    %p.welcome
      Obrigado e divirta-se compartilhando seu talento musical com o mundo todo.
    %br
    %br
    = link_to t(:menu_make_money), upload_path, :class => 'btn-vigoo'
.clear