/ %object{ width: '600", height: "337"}
/   %param{ name: "allowfullscreen", value: "true"}
/   %param{ name: "allowscriptaccess", value: "always"}
/   %param{name: "movie",  value: "http://vimeo.com/moogaloop.swf?clip_id=65104337&amp;force_embed=1&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=2b6382&amp;fullscreen=1&amp;autoplay=0&amp;loop=0"}
/   %embed{ src: "http://vimeo.com/moogaloop.swf?clip_id=65104337&amp;force_embed=1&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=2b6382&amp;fullscreen=1&amp;autoplay=0&amp;loop=0", type: "application/x-shockwave-flash", allowfullscreen: "true", allowscriptaccess: "always", width: "600", height:"337"}

- if @spotlight_authors
  - @spotlight_authors.each do |highlight|
    - author = highlight.object
    .grid_3.similar_author.thumb
      = render partial: 'users/user_disk', :locals => { :user => author }
  .clear

= render 'pages/index/more_oritmo'
