
= content_for :section_head do
  #highlights-bg.pattern
  #highlights.authors_files
    - @highlights.each do |highlight|
      .item
        .product_image
          = link_to image_tag(highlight.thumburl), product_path(highlight)
        - rhythm = highlight.categories.where(type: "Rhythm").first.name
        .rhythm.show-when-current{ style: "width: #{(rhythm.length + 1)/ 2}em" }= rhythm
        .carousel-caption.show-when-current
          .name= highlight.name
          .details
            = display_duration(highlight).sub(":","'")
            %span.i= "by #{highlight.user.name}"
          .product_price
            = price_big(highlight)

- if !@product_by_rhythm.nil?
  .container_12
    %h1.heading= t(:browse_by_rhythm)
    %h2.heading= t(:find_files_by_rhythm)
    - @product_by_rhythm.in_groups_of(4).each_with_index do |group, index|
      %div{class: "row_12 with_header#{index != (@product_by_rhythm.length / 4 - 1).to_i ? " category_product_group" : ""} "}
        - group.each do |rhythm, product| 
          = render partial: 'layouts/product', :locals => { :product => product, :type => rhythm, :section =>"home" } unless product.nil?
        .clearfix
    .clearfix
  .clear

- if !@product_by_mood.nil?
  %h1.heading= t(:browse_by_mood)
  %h2.heading= t(:find_files_by_mood)
  - @product_by_mood.each do |mood, product| 
    = render partial: 'layouts/product', :locals => { :product => product, :type => mood, :section =>"home" } unless product.nil?
  .clear
 
- if @spotlight_authors
  %h1.heading
    %span.blank= t(:spotlight_authors)
  %h2.heading= t(:our_brazilian_music_lovers)
  - @spotlight_authors.each do |author|
    .grid_3.similar_author.thumb
      = render partial: 'users/user_disk', :locals => { :user => author }
  .clear
      
= #javascript_include_tag "player_control"
