.page-header
  %h1 Edit Administrator
  
= simple_form_for [:admin, @admin_user] do |f|
  = f.input :email, :required => true, :autofocus => true
  = f.input :role, :collection => @admin_user.roles
  
  = f.button :submit, "Save"