.page-header
  %h1 Administrators

  = link_to "New", new_admin_admin_user_path

%table.table.table-striped
  %tr
    %th= sortable 'id', 'ID'
    %th= sortable 'email', 'Email'
    %th= sortable 'role', 'Role'
    %th= sortable 'current_sign_in_at', 'Last Login'
    %th
    
  - @admin_users.each do |admin_user|
    %tr
      %td= admin_user.id
      %td= admin_user.email
      %td= admin_user.role
      %td
        - if admin_user.current_sign_in_at
          = "#{admin_user.current_sign_in_at.in_time_zone('Brasilia').strftime("%b %m %Y")} (#{time_ago_in_words(admin_user.current_sign_in_at.in_time_zone('Brasilia'))})"
        - else 
          Never
      %td= link_to "edit", edit_admin_admin_user_path(admin_user)

