.hide
  display: none
  
.loading
  background-image: image_url("product-loading.gif")
  width: 16px
  height: 16px
  
.sortable th .current 
  padding-right: 12px
  background-repeat: no-repeat
  background-position: right center


.sortable th .asc 
  background-image: url(/assets/up_arrow.gif)

.sortable th .desc 
  background-image: url(/assets/down_arrow.gif)


select.short_select
  width: 50px
  
  
.admin-image-row
  
  .preset-image-container
    height: 140px
    
    .delete-image-button
      position: relative
      top: -50px
      right: 30px
      display: none

.table-search
  padding-left: 1em

td
  img
    width: 100px

td.checkbox
  text-align: center
  input[type="checkbox"]
    float: none

#range_filter_form
  margin: 18px 0
  label
    margin-left: 15px
