.category_box
  background-color: #CCC
  margin-bottom: 20px
  height: 102px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  
  .category_photo
    float: left
    width: 139px
    
  .category_name
    float: left
    padding-left: 15px
    font-family: Open Sans
    letter-spacing: -1px
    position: relative
    top: 25%
    
    .name
      font-size: 22px
      font-weight: bold
      
    .sounds
      color: #000
      font-weight: 600
      font-size: 14px
      text-transform: uppercase
      
  .arrow
    position: absolute
    right: 10px
    top: 42px
      
  .compact
    padding-left: 10px
    width: 151px
    
//  &:hover
//    .icon-blue
//      background-image: url("/assets/glyphicons-halflings-blue-over.png")
//    
//.icon-blue
//  background-image: url("/assets/glyphicons-halflings-blue.png")
  