

.category_header_image
  width: 100%
  height: 550px
  z-index: 0
  position: absolute


.category_hero
  position: relative
  z-index: 10
  padding-top: 80px
  height: 430px
  color: #FFF

  h1
    font-family: Open Sans
    font-size: 42px
    margin-top: 20px
    margin-bottom: 15px
    letter-spacing: -4px
    
  h2
    font-size: 15px
    font-weight: bold
    text-transform: uppercase
    
  .category_description
    font-size: 16px
    &.description
      margin-top: 8px
      
    .section-description
      a
        color: #FFF
      a:hover
        color: #F8E000


  .category_image_container
    float: right
    background: image-url('frame_author.png') no-repeat
    background-position: 0 0
    height: 378px
    width: 472px

    .category_image
      padding: 22px 0 0 20px
  

.category_body
  position: relative
  z-index: 10
  background-color: #FFF
  padding-top: 10px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

