%h1.heading= t(:error)
%h2.heading= t(:page_not_found)

.alert.alert-error
  %h3= t(:ooops)
  %p
    The content that you requested could not be found.
  %p
    Want to
    %a{href: root_path} go back to our home page
    and try again?
