%h1.heading= t(:error)
%h2.heading= t(:internal_server_error)

.alert.alert-error
  %h3 We're sorry
  %p
    The content that you requested could not be loaded.
  %p
    Please send an email to support@oritmo.com and report this error.
  %p
    Want to
    %a{href: root_path} go back to our home page
    and try again?