.more-oritmo.container_12{style: 'margin-top: 120px'}
  %h1.heading= t(:more_oritmo)
  %h2.heading= t(:more_about_us)

  .row_12.with_header
    .grid_3.thumb
      .thumb-title Video

      = link_to '#', onclick: 'return false' do
        .thumb-media
          %iframe(src="https://player.vimeo.com/video/65104337?title=0&byline=0&portrait=0" width="220" height="124" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

        .thumb-subtitle= t(:check_video_about_oritmo)

    .grid_3.thumb
      .thumb-title= t(:join_us)

      = link_to new_user_registration_path do
        .thumb-media= image_tag 'home/more_oritmo_join.jpg'
        .thumb-subtitle= t(:make_your_profile)

    .grid_3.thumb
      .thumb-title Soundcloud

      = link_to '#', data: {toggle: 'modal', target: "#soundcloud-modal"} do
        .thumb-media= image_tag 'home/more_oritmo_soundcloud.jpg'
        .thumb-subtitle= t(:made_with_oritmo)

      #soundcloud-modal.modal.hide.fade
        .modal-header
          %h1.heading= t(:created_with_oritmo)

        .modal-body
          %iframe{width: "100%", height: "350", scrolling:"no", frameborder: "no", src: "https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F44203884&amp;color=2b6382&amp;auto_play=false&amp;show_artwork=true"}

        .modal-footer
          = link_to t(:close), "#", data: {dismiss: 'modal'}, class: "btn-vigoo btn-vigoo-small"

    .grid_3.thumb
      .thumb-title= t(:about_oritmo)

      = link_to about_us_path do
        .thumb-media= image_tag 'home/more_oritmo_about_us.jpg'
        .thumb-subtitle= t(:how_works)

.clear
