
@font-face 
  font-family: 'LeagueGothicRegular'
  src: font-url('leaguegothic-webfont.eot')
  src: font-url('leaguegothic-webfont.eot?#iefix') format('embedded-opentype'), font-url('leaguegothic-webfont.woff') format('woff'), font-url('leaguegothic-webfont.ttf') format('truetype'), font-url('leaguegothic-webfont.svg#league_gothicregular') format('svg')
  font-weight: normal
  font-style: normal

