= simple_form_for @payment do |f|
  = f.input :product_id, :as => :hidden, :input_html => { :value => @product.id }
  = f.input :mode, :as => :hidden, :input_html => { :value => 'credit' } 
  = f.input :amount, :collection => @credit_amounts, :as => :radio_buttons, :label => "Valor (#{currency})\n", label_method: lambda { |obj| apply_currency(obj) } do
    .clearfix
    - @credit_amounts.each_with_index do |amount, i|
      - _id = "payment_#{ _for = "amount_#{i}" }"
      .radio_buttons_group
        %span.radio.radio
          = f.radio_button :amount, amount, class: "radio_buttons required", id: _id
          = f.label _for, apply_currency(amount), class: "collection_radio_buttons"
      
  .clearfix
  .pagar
    = f.submit "Pagar", class: "btn-vigoo btn-next"
  
  
