%h1 Purchase Sprockets
%p Thank you for your decision to purchase our sprockets.
%p Your order total is $50.00
%p= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), checkout_payments_path
