%h1.heading= t(:payment)
%h2.heading= t(:insuficient_balance)

.payment_container

  .confirm_order
    = render partial: '/products/product_info', locals: { product: @product, user: current_user }
    .payment_option.option_1
      %h2= "#{t(:option)} 1: #{t(:single_payment)}"
      = simple_form_for @payment do |f|
        %p= "Pagar #{apply_currency(@subtotal)} #{currency}"
        %p= "(Produto: #{apply_currency(@product.price)} + Acréscimo: #{apply_currency(@surcharge)})"
        = # f.input :amount, :as => :hidden, :input_html => { :value => @product.price }
        = f.input :product_id, :as => :hidden, :input_html => { :value => @product.id }
        = f.input :mode, :as => :hidden, :input_html => { :value => 'purchase' } 
        .pagar
          = f.submit "Pagar", class: "button", id: "submitBtn", class: "btn-vigoo btn-next"

    .payment_option.option_2
      %h2= "#{t(:option)} 2: #{t(:add_credit)}"
      = render 'form_credit'

    .buttons
      .cancel
        = link_to(t(:cancel), :back, class: "btn-vigoo btn-danger", name: "cancel_button")

.clearfix
