.page-header
  %h1= "#{model_name.classify} (#{locale})"
  
- if model_name != 'category'
  = link_to "Add", send("new_admin_#{model_name.downcase}_path") , :class => 'btn btn-primary'

%table.table.table-striped
  %tr
    %th Name
    %th Photo
    %th Background
    %th Description
    %th 

  - @categories.each do |category|
    %tr
      %td
        = link_to category.name, send("edit_admin_#{model_name.downcase}_path", category)
      %td
        - if category.photo.blank? 
          %span.badge.badge-important
            %i.icon-remove.icon-white
        - else
          %span.badge.badge-success
            %i.icon-ok.icon-white
      %td
        - if category.background.blank? 
          %span.badge.badge-important
            %i.icon-remove.icon-white
        - else
          %span.badge.badge-success
            %i.icon-ok.icon-white
            
      %td
        %small= truncate(category.description, length: 30, separator: ' ')
        
      %td{style: 'text-align:right'}
        - if model_name != 'category'
          = link_to send("admin_#{model_name.downcase}_path", category), :method => :delete, :confirm => 'Are you sure?' do
            %span.btn.btn-danger.btn-mini
              %i.icon-remove.icon-white