%tr.sortable
  %th= sortable 'id', 'ID'
  %th= 'Thumbnail'
  //%th= sortable 'highlight', 'Destaque' 
  %th= sortable 'name', 'Name'
  - if !defined?(user) || user.nil?
    %th Author
  %th= sortable 'created_at', 'Created'
  %th= sortable 'price', 'Price'
  %th= sortable 'status', 'Status'
  %th Sample
  %th= sortable 'allow_commercial_use', 'Commercial'
  //%th= sortable 'key','Key'
  //%th= sortable 'bpm','BPM'
  %th Size
  %th
