%tr
  %td= product.id
  %td= image_tag(product.thumburl)
  //%td.checkbox.highlight-checkbox= check_box_tag "highlight", "true", product.highlight, data: { id: product.id }
  %td= link_to product.name, admin_product_path(product)
  - if !defined?(user) || user.nil?
    %td
      = link_to product.user.name, admin_user_path(product.user) if product.user
  %td= formatted_date(product.created_at)
  %td= product.price==0 ? "<span class='label label-info'>Free</span>".html_safe : product.price
  %td{id: "td-#{product.id}"}
    - case product.status
      - when 'new'
        %span.label.label-info new
      - when 'active'
        %span.label.label-success active
        
        = link_to reject_confirm_admin_product_path(product), class: 'btn btn-danger btn-mini reject-product',  rel: product.id, id:"reject-#{product.id}", 'data-toggle' => 'modal', 'data-target' => "#reject_modal_#{product.id}", 'role'=>"button" do
          %i.icon-remove.icon-white
          - # 
          
      - when 'error'
        %span.label.label-important error
      - when 'review'
        %span.label.label-warning review
        
        = link_to approve_admin_product_path(product), class: 'btn btn-success btn-mini status-product', remote: true, rel: product.id, id:"approve-#{product.id}" do
          %i.icon-ok.icon-white
          
        = link_to reject_confirm_admin_product_path(product), class: 'btn btn-danger btn-mini reject-product',  rel: product.id, id:"reject-#{product.id}", 'data-toggle' => 'modal', 'data-target' => "#reject_modal_#{product.id}", 'role'=>"button" do
          %i.icon-remove.icon-white
          
      - when 'rejected'
        %span.label.label-inverse rejected
        = link_to approve_admin_product_path(product), class: 'btn btn-success btn-mini status-product', remote: true, rel: product.id, id:"approve-#{product.id}" do
          %i.icon-ok.icon-white
        
      - else
        %span.label= product.status.nil? ? 'new' : product.status
    
    %div.loading{id: "loadingst-#{product.id}", style: 'display: none; position: relative; top: -15px; left: 50px;'}
    
  %td
    - if product.sample.nil?
      
      = link_to 'N/A', reprocess_admin_product_path(product), remote: true, rel: product.id, class: 'label reprocess_sample', title: 'reprocess'
      %span.hide{id: "loading-#{product.id}"}
        = image_tag 'product-loading.gif'
        
    - else
      = render partial: 'layouts/player_compact', :locals => { :product => product }
  %td
    - if product.allow_commercial_use
      %span.label.label-success YES
    - else
      %span.label.label-warning NO
  //%td= product.key
  //%td= product.bpm
  %td
    - if product.file_exists? 
      = number_to_human_size(product.archive.size) 
    - else
      %span.label.label-important file not found 
  %td
    - if ['rejected','error'].include? product.status
      = link_to admin_product_path(product), remote: true, rel: product.id, class: 'btn btn-danger btn-mini destroy-product', method: 'delete', :confirm => t(:are_you_sure), title: 'Delete' do
        %i.icon-remove.icon-white
