.page-header
  %h1 Edit Product
      
= simple_form_for [:admin,  @product ] do |f|
  .span4.product_form
    = f.input :name
    = f.input :bpm, :hint => false
    = f.input :price
        
    %label Tom
    = f.input :key_note, collection: ['C','D','E','F','G','A','B'], label: t(:key), :label => false, :wrapper_html => { :style => 'float:left;' }, :input_html => { :class => 'short_select' }
    = f.input :key_sus, collection: ['#','b'], :label => false, :wrapper_html => { :style => 'float:left; clear:none;' }, :input_html => { :class => 'short_select' }
    = f.input :key_maj, collection: ['m'], :label => false, :wrapper_html => { :style => 'float:left; clear:none;' }, :input_html => { :class => 'short_select' }
    .clearfix
    = f.input :allow_commercial_use, :default => true
    
    
        
  .span4
    - @sections.each do |section|
      - if section.id == 1
        = f.input :category_ids, :collection => section.children.sort_by(&:name), :label => section.name, :input_html => { :name => "product[category_ids][]" }, :multiple => true
      - else  
        = f.input :category_ids, :collection => section.children.sort_by(&:name), :label => section.name, :input_html => { :name => "product[category_ids][]" }
  .span4
    = f.input :description, :as => :text
  .span4
    = f.input :photo, :as => :file
    - if !@product.photo.blank?
      .thumb
        = image_tag(@product.thumburl)
        %br
        = f.input :remove_photo, :label => t(:remove_photo), :as => :boolean
        
    - if @product.sample
      %div= render partial: 'layouts/player_compact', :locals => { :product => @product }
   
  .clearfix 
  .page-header
  = f.submit :submit, class: 'btn btn-success'
  = link_to 'cancel', admin_product_path(@product)