.page-header
  %h1 Products
  
.pagination{style: 'float:left' }
  %ul
    -@statuses.each do |status|
      - status_display = "#{status.status} (#{status.status_count})"
      - css_class = ''
      - css_class='active' if status.status == @status
      %li{class: css_class}= link_to status_display, "?status=#{status.status}"
    
    // %li= link_to "all", "?status=all"
  
%div{style: 'float:right'}
  = will_paginate @products

%div.table-search.pagination{style: 'float:left'}
  = form_tag(admin_products_path, method: :get, class: 'form-search') do
    = text_field :q, nil, class: 'search-query', name: :q
    = submit_tag "Search", class: "btn"

%table.table.table-striped
  =render partial: 'admin/products/product_heading'
    
  - @products.each do |product|
    =render partial: 'admin/products/product_row', :locals => { :product => product }
    =render partial: 'admin/products/modal_reject', :locals => { :id => product.id }
        

