%p Please indicate why you are rejecting this upload:
= simple_form_for([:admin, @product], url: reject_admin_product_path, remote: true, html: {class: 'status-product', rel: @product.id}) do |f|
	= f.input :reason, collection: @options
	.modal-footer
		%button.btn{type: 'button', 'data-dismiss' => 'modal'}Cancel
		= #link_to "Reject", reject_admin_product_path(@product, reason: ''), class: 'btn btn-danger status-product', rel: @product.id, id:"reject-#{@product.id}", 'data-dismiss' => 'modal', remote: true
		= f.submit "Reject", class: 'btn btn-danger'
		- #, rel: @product.id, id:"reject-#{@product.id}"
		- #, 'data-dismiss' => 'modal'