.page-header
  %h1
    = @product.name
    %small= "by #{link_to @product.user.name, admin_user_path(@product.user)}".html_safe

%div{style: 'float:right'}= link_to "Edit", edit_admin_product_path(@product), class: 'btn btn-success'

.row

  - photo = @product.photo.url || @product.image.try(:photo).try(:url)
  - unless photo.blank?
    .span6
      = image_tag photo

  .span5
    %table.table.table-bordered.table-striped
      %tr
        %td Price
        %td= @product.price==0 ? "Free" : @product.price

      - cat = category_hash(@product)
      - cat.each do |main, val|
        %tr
          %td= main
          %td
            - i=0
            - val.each do |obj|
              - i=i+1
              = i==val.length ? obj.name : "#{obj.name}, "

      %tr
        %td Created
        %td= "#{formatted_date(@product.created_at)}"
      %tr
        %td Status
        %td= @product.status
      %tr
        %td Commercial use
        %td
          - if @product.allow_commercial_use
            %span.label.label-success YES
          - else
            %span.label.label-warning NO

  .span5
    %table.table.table-bordered.table-striped
      %tr
        %td Key
        %td= @product.key
      %tr
        %td BPM
        %td= @product.bpm

      - if !@archive_data.nil?
        - @archive_data.each do |key, value|
          %tr
            %td= key
            - case key
              - when "Duration"
                %td= display_duration(@product)
              - else
                %td= value
      %tr
        %td Sample
        %td
          - if !@product.sample.nil?
            = render partial: 'layouts/player_compact', :locals => { :product => @product }
            %br
          - else
            %span.label.label-important N/A

          = link_to 'reprocess', reprocess_admin_product_path(@product), remote: true, rel: @product.id, class: 'reprocess_sample btn btn-warning'
          %span.hide{id: "loading-#{@product.id}"}
            = image_tag 'product-loading.gif'

          = link_to @product.archive.url, :class => 'btn btn-success' do
            %i.icon-play.icon-white
            Listen Original


- if !@product.description.blank?
  .row
    .span12
      %h2 Description
      = @product.description


.page-header

%h2 Raw data
= @product.inspect
