=content_for :title do
  = "#{t(:page_title_prefix)} #{t(:forgot_password)}"
  
%h1.heading= t(:forgot_password)

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.input :email
  = f.button :submit, t(:send_password_reset_instructuons), class: "btn-vigoo"

= render "users/links"
