.img-replacement
  display: block
  text-indent: 10000px
  overflow: hidden

body
  background: #fff

h1.heading
  background: image-url('h1bg.png') center no-repeat
  text-align: center
  width: 100%
  font-family: LeagueGothicRegular
  text-transform: uppercase
  font-weight: lighter
  font-size: 45px
  margin-top: 20px

h2.heading
  margin-top: -20px
  text-align: center
  width: 100%
  font-family: Open Sans
  font-weight: 300
  font-style: italic
  color: #AAA
  font-size: 21px
  margin-bottom: 20px

h1.no_back
  background: none

div.title_shade
  background: image-url('title_shade.png') center no-repeat
  text-align: center
  width: 100%

h2.multiline
  line-height: 25px
  margin-top: 15px

.bold
  font-weight: bold

.open_text
  font-family: Open Sans

  p
    font-family: Open Sans

.product_container
  margin-bottom: 20px
  height: 275px

  h3
    font-family: LeagueGothicRegular
    text-transform: uppercase
    float: left
    font-size: 26px
    margin-bottom: 7px
    font-weight: lighter

  .product_more
    float: right
    font-family: Open Sans Condensed
    text-transform: uppercase
    font-weight: 700
    font-size: 16px
    letter-spacing: -2px
    margin-top: 18px

  .product_image
    clear: both
    margin-bottom: 10px

  .product_name
    word-wrap: break-word
    font-family: Open Sans
    font-weight: 700
    font-size: 18px
    text-align: center
    margin-bottom: 5px
    letter-spacing: -1px
    margin-top: 18px

  .product_attributes
    margin-top: 10px
    width: 220px

    .key
      width: 108px
      float: left
      text-align: right
      font-weight: bold
      text-transform: uppercase
      font-size: 11px
      margin-right: 5px

    .value
      width: 107px
      float: left
      text-transform: uppercase
      font-size: 11px

  .product_price
    background: image-url('pricebg_small.png') no-repeat
    width: 55px
    height: 55px
    z-index: 10
    position: absolute
    top: 120px
    right: -10px

    a
      display: block
      color: black

      &:hover
        text-decoration: none

    .price_tag
      font-family: LeagueGothicRegular
      font-size: 25px
      margin-top: 18px
      text-align: center

      .value

      .cents
        font-size: 15px
        position: relative
        top: -8px

  .default
    background-position: 0px 0px

    &:hover
      background-position: 0px -55px

  .full-track
    background-position: -55px 0px

    &:hover
      background-position: -55px -55px

    a
      color: white
      text-transform: uppercase

    span
      color: white

  .free
    background-position: -110px 0px

    &:hover
      background-position: -110px -55px

    a
      color: white
      text-transform: uppercase

    span
      color: white

#bg_header
  background: #285d7b
  background: image-url('bg_header.png') repeat-x
  height: 195px
  border-bottom: 3px solid #0C415E

#header
  height: 220px
  text-align: left

  #head-div
    height: 190px

#search
  left: 15px
  top: 65px
  margin: 0
  padding: 0
  form
    input
      background: url(search.png) no-repeat -7px -10px transparent
      height: 35px
      width: 161px
      border: 0
      color: #fff
      padding: 0 33px 0 37px
      font-size: 16px
    input:hover
      background-position: -7px -55px
    input:focus
      background-position: -7px -100px
    input:focus :hover
      background-position: -7px -55px

#slogan
  top: 40px
  left: 40px
  background: image-url('logo.png') no-repeat
  display: block

  h1
    a
      width: 240px
      height: 84px

  span
    font-family: "Open Sans"
    font-style: italic
    position: absolute
    left: 15px
    top: 70px
    font-size: 16px
    color: #fff
    margin: 0

#account
  color: #FFF
  text-align: right
  padding: 75px 0pt 0pt
  font-family: 'Open Sans Light', sans-serif
  font-size: 12px
  text-decoration: none
  text-transform: uppercase

  a
    color: #f8e000
    font-weight: bold

    &:hover
      color: #fff069
      text-decoration: none

  span.separator
    color: white
    font-weight: bold
    margin: 0 5px

  span.hello
    a
      font-weight: normal

#navigation
  margin-top: -26px
  margin-left: 10px

  ul.root
    margin: 0 auto
    width: 860px

  ul

    li
      float: left
      list-style-type: none
      position: relative
      height: 31px

      a
        display: inline
        color: #f8e000
        font-family: 'Open Sans Light', sans-serif
        font-size: 11px
        text-decoration: none
        text-transform: uppercase
        padding: 1px 7px 5px 7px
        font-weight: bold

        &:hover
          color: #fff069

      span.instruction
        font-family: "Open Sans Light", sans-serif
        font-size: 11px
        color: white
        text-transform: uppercase

      span.instruction.search-by
        margin-right: 20px

      span.instruction.language
        margin: 0px 20px

    li#usa, li#brazil
      padding-left: 10px

      a
        width: 24px
        height: 16px
        padding: 0 !important

    ul
      position: absolute
      background-color: #fff069
      top: 31px
      left: 0
      margin-left: 0
      display: none
      width: 230px
      padding-bottom: 10px
      padding-top: 5px

      // background: image-url('bg_header.png')
      -webkit-border-bottom-radius: 3px
      -moz-border-bottom-radius: 3px
      border-bottom-radius: 3px

      z-index: 50

      li
        float: none
        padding-left: 6px
        height: 22px

        a
          padding-top: 4px
          font-weight: normal
          line-height: 10px
          color: #2A5F7E
          //margin-left: 10px

          &:hover
            color: #208FCF
            background: transparent

        .bold
          font-weight: bold

  ul
    li:hover
      ul
        display: block

  #usa
    a
      background: image-url('usa.png') no-repeat

  #brazil
    a
      background: image-url('brazil.png') no-repeat

  .root-menu
    .currency
      float: right
      margin-left: 10px
      color: #FFF

      a.currency-change
        color: #F8E000

#about
  background: #2c6382
  height: 290px
  margin-top: 100px

  h1
    font-size: 20px
  p
    font-size: 12px
    color: #fff
  h5
    font-size: 12px
    color: yellow



  #pandeiro
    position: relative
    top: -17px
    background: image-url('pandeiro.png') no-repeat
    height: 300px

  .box
    margin-top: 27px
    text-align: center
    h5
      font: 18px/27px 'LeagueGothicRegular'
      color: #fff
      font-size: 40px
      margin-bottom: 20px
      text-transform: uppercase
    p
      position: relative
      font-family: 'Open Sans', sans-serif
      font-weight: 300
      //width: 197px
      // margin-left: 50px
      font-style: italic
      font-size: 16px
      text-align: center
      padding: 0 33px
    a
      // margin-left: 104px
      font-family: 'Open Sans Light', sans-serif
      color: #f8e000
      font-size: 13px
      font-weight: bold
      text-decoration: none
      text-transform: uppercase

#bg_footer
  background: image-url('wood.gif') repeat-x

#footer
  height: 200px
  h4
    color: #f8e000
    text-align: left
    font: 18px/27px 'LeagueGothicRegular'
    text-transform: uppercase
    line-height: 10px

  .polomarte-link
    float: right
    margin-top: -15px
    a
      color: #FFF

  .footer-links
    color: #FFF
    float: left
    a
      color: #F8E000

#footer_grid
  margin-top: 29px
  ul
    margin-left: 1px
    margin-top: 5px
  li
    font-family: 'Open Sans Light', sans-serif
    font-size: 12px
    text-align: left
    list-style-type: none
    line-height: 16px
    a
      color: #fff

#footer_slogan
  padding-top: 30px

  a
    background: image-url('oritmo_footer.png') no-repeat top center
    display: block
    height: 49px
    span
      display: none
  h5
    font-size: 12px
    color: #a57e49
    text-align: center

#follow
  background: image-url('follow_us.png') no-repeat
  height: 390px
  margin-top: 30px
  a
    text-decoration: none

#tw
  position: relative
  left: 95px
  top: 165px
  color: #fff
  width: 77px
  display: block
  text-align: left
  font-size: 16px
  line-height: 16px
  font-family: arial
  strong
    color: yellow

#fb
  position: relative
  left: 95px
  top: 197px
  color: #fff
  width: 95px
  display: block
  text-align: left
  font-size: 16px
  line-height: 16px
  font-family: arial
  strong
    color: yellow

#bl
  position: relative
  left: 95px
  top: 228px
  color: #fff
  width: 90px
  display: block
  text-align: left
  font-size: 16px
  line-height: 16px
  font-family: arial
  strong
    color: yellow

#footer_polomarte
  clear: both
  height: 115px
  background: #000

#polomarte
  padding-top: 20px

#polomarte a
  color: #fff
  font-size: 12px
  line-height: 16px
  font-family: arial
  text-decoration: none
  strong
    color: #f8e000

#polomarte-logo
  background: image-url('polomarte_logo_footer.png') no-repeat
  width: 60px
  height: 60px
  float: left
  margin-left: 20px

#polomarte-information
  float: left
  margin-top: 10px

.author_image_disk
  width: 188px
  height: 203px
  position: relative
  margin-top: 33px
  left: 16px
  font-family: LeagueGothicRegular
  font-size: 25px
  color: #000
  outline: 0

  .author_mask
    width: 188px
    height: 203px
    background: image-url('mascara_author.png') no-repeat transparent
    z-index: 10
    position: absolute
    top: 0
    left: 0
    outline: 0

    &:hover
      background: image-url('mascara_over.png') no-repeat transparent
      cursor: pointer

  .author_photo
    width: 188px
    height: 203px
    z-index: 5
    position: absolute
    top: 0
    left: 0
    overflow: hidden
    outline: 0

  .author_file_count
    z-index: 10
    position: absolute
    top: 146px
    left: 125px
    width: 59px
    text-align: center

  .author_files
    z-index: 10
    position: absolute
    top: 165px
    left: 125px
    width: 59px
    text-align: center

.user_info

  p
    font-family: Open Sans
    font-style: italic

  h3
    font-family: LeagueGothicRegular
    text-transform: uppercase
    font-size: 24px
    font-weight: normal
    margin-bottom: 15px

  h4
    font-family: LeagueGothicRegular
    text-transform: uppercase
    font-weight: normal
    margin-top: 12px
    font-size: 20px

#photo_progress
  margin-top: 10px
  width: 400px


.user_container
  height: auto

.thumb
  height: 25em
  margin: 10px 0

  .thumb-title
    font-family: LeagueGothicRegular
    text-transform: uppercase
    font-weight: lighter
    font-size: 26px
    margin-bottom: 10px

  .thumb-media
    border-radius: 3px
    height: 123px
    border-bottom: 5px solid black
    position: relative
    overflow: hidden
    background-color: darken(white, 10%)

  .thumb-subtitle
    font-family: Open Sans
    font-weight: 700
    font-size: 18px
    text-align: center
    margin-bottom: 5px
    letter-spacing: -1px
    margin-top: 15px

.more-oritmo
  .thumb
    height: 16em

  #soundcloud-modal
    h1.heading
      background: none

.more-arrow
  margin-left: 2px

.banner
  margin-top: 80px
  margin-left: auto
  margin-right: auto
  width: 728px
