#ajax-modal
  .modal-body
    .simple_form
      .hint
        margin-left: 104px

      .error
        margin-left: 0px

      .check_boxes
        overflow: auto

        .checkbox
          float: left
          padding-left: 0

          input
            &[type="checkbox"]
              float: left
              margin-left: 0
              margin-right: 5px

          label.collection_check_boxes
            text-align: left
            width: 140px

      label
        width: 95px
        margin-left: 0px

      textarea
        width: auto
        height: 100px