@import "compass/css3/border-radius"
@import "compass/css3/images"
@import "compass/css3/text-shadow"
@import "compass/css3/box-shadow"

a
  color: #208fcf
  text-decoration: none

  &:hover
    color: #46bbff
    text-decoration: none

a.support
  color: #f8e000
  text-decoration: none

  &:hover
    color: #fff069
    text-decoration: none

form
  #error-explanation
    border: 1px solid red
    padding: 7px
    background-color: #f0f0f0
    margin-bottom: 15px

    h2
      font-weight: bold
      padding: 5px
      font-size: 12px
      background-color: #c00
      color: #fff
      line-height: 100%
      margin-bottom: 10px

    ul
      li
        font-size: 12px
        list-style: square

select.short_select
  width: 50px



#fileupload
  min-height: 300px
  background: #f5f5f5
  border: dashed 2px #eaeaea

  h2.instruction
    font-size: 40px
    width: 960px
    line-height: 300px
    text-align: center

#fileupload.dropped
  background-image: none
  border-style: solid

  h2.instruction
    display: none

  .product-item
    padding: 5px 5px 5px 25px
    margin: 5px 5px 5px 10px
    background: image_url("check-icon.png") no-repeat left center
    color: #666

  .product-item.loading
    background-image: image_url("product-loading.gif")

  #uploaded-files

    .file-container
      min-height: 40px
      padding: 15px
      border-bottom: 1px solid #EAEAEA
      border-right: 1px solid #EAEAEA

      a
        text-decoration: none
        outline: none

      .progress-container
        width: 80px
        background: #CCC
        height: 10px
        float: left
        margin: 3px 6px

        .progress_bar
          width: 0
          background: #407CC2
          height: 10px

        .progress_bar.complete
          background: #40C72C
          width: 100%

        .progress_bar.error
          background: #C12F36

      .file-name
        // margin: 0 6px
        float: left

      .file-message
        color: #CCC
        margin-left: 20px
        float: right

    .file-container.active
      background-color: #FFF
      border-right: 1px solid #FFF

  #file-forms
    width: 660px
    min-height: 299px
    background-color: white

    .file-form
      background-color: #FFF
      padding: 5px
      display: none

      .product_form
        margin-top: 20px

#file-forms
  .loading
    background-image: image_url('ajax-loader.gif')
    background-position: 0px 4px
    background-repeat: no-repeat
    margin-left: 10px
    margin-top: 10px
    padding-left: 48px
    display: none

  .file-form-container
    padding: 20px

    .copy_form_container
      float: right

.buttons
  float: left
  width: 100%
  margin-top: 10px
  margin-bottom: 50px

  .loading
    background: image_url("product-loading.gif") no-repeat
    width: 30px
    height: 30px
    float: right
    background-position: 10px 10px
    display: none

.button
  margin: 0 0 0 5px !important
  // display: block
  // float: right
  padding: 8px 10px
  +border-radius(5px)
  +background-image(linear-gradient(#2882b5 60%, #2c6382))
  font-weight: bold
  font-size: 0.9em
  +single-text-shadow(#666, 1px, 0)
  border: solid 1px #2c6382
  color: #fff
  text-decoration: none

.button:hover
  +background-image(linear-gradient(#2c6382, #2882b5 60%))
  color: #fff
  text-decoration: none

.hide
  display: none

.fake-upload
  width: 0px
  height: 0px
  overflow: hidden

.fileinput-button
  position: relative

  .file
    position: relative
    text-align: right
    -moz-opacity: 0
    //filter: alpha(opacity, 0)
    opacity: 0
    z-index: 2
    top: 10px

.fileupload-or
  margin: 10px 0px

input[type="image"], input[type="checkbox"], input[type="radio"]
  float: left
  margin: 3px 3px 0 0

#form-template
  display: none

  .btn-vigoo
    display: block

.product_form
  #form-buttons
    text-align: right
    margin-right: 20px

#next-multiple-product.buttons
  text-align: right
  margin-top: 15px

#beta-home
  height: 200px
  text-align: center
  margin-bottom: 130px

  p.welcome
    font-family: 'Open Sans'
    font-style: italic
    font-size: 20px
    font-weight: 300
    width: 750px
    margin: 0 auto
    line-height: 25px
    color: #a5a5a5

  .btn
    margin-top: 28px

.sign-in-area
  border-right: 1px solid #ccc

  .sign-in-links
    padding-left: 120px

div.no-space-labels
  margin-left: 119px

  input[type="submit"]
    display: block
    margin: 15px 0px !important

  span.error
    margin-left: 0px

  label.no-format
    float: none
    margin: 0
    width: auto
    text-align: left

.table-list
  .table-col
    float: left
    .table-cell
      margin-bottom: 10px

      span.checkbox
        padding-left: 0px

        input[type="checkbox"]
          margin-left: 0px

        label
          text-align: left
          width: 105px !important

div.instruments
  .table-col
    .table-cell
      span.checkbox
        padding-left: 0px

        input[type="checkbox"]
          margin: 5px 0px 0px 0px

.send-your-product
  text-align: center
  margin-bottom: 20px

.btn-vigoo
  font-family: "Open Sans"
  cursor: pointer
  display: inline-block
  font-size: 13px
  font-weight: bold
  padding: 12px 16px
  margin-bottom: 0
  text-align: center
  vertical-align: middle
  color: #ffffff
  background-image: image_url("btn-default-bg.png")
  background-repeat: repeat-x
  text-transform: uppercase
  line-height: 18px
  border: 0px
  @include border-radius(4px, 4px)
  @include single-box-shadow(#333333, 1px, 1px, 1px)

  &:hover
    background-image: image_url("btn-hover-bg.png")
    @include text-shadow(rgba(black, 0.23) 2px 1px 5px)
    text-decoration: none
    color: #ffffff
    background-position: 0 0

  &:active
    background-image: image_url("btn-active-bg.png")
    text-decoration: none
    color: #ffffff

  &:focus
    @include single-box-shadow(#333333, 1px, 1px, 1px)

  &.btn-success
    background-image: none
    background-color: #064E0D

    &:hover
      background-color: #3F8A46

  &.btn-danger
    background-image: none
    background-color: #C12708

    &:hover
      background-color: #DF4F33

  &.btn-next
    background-image: none
    background-color: #4FB9F6

    &:hover
      background-color: #97D3F6

.btn-vigoo-small
  font-size: 11px
  line-height: 16px
  padding: 5px 9px

.btn-vigoo-mini
  font-size: 11px
  line-height: 14px
  padding: 2px 6px

.product_description
  font-family: Open Sans
  font-size: 24px
  font-style: italic
  font-weight: 300
  line-height: 24px

hr.dotted
  border-top: 1px dotted #CCC
  border-bottom: none

.similar_author
  height: 370px
  .author_name
    font-family: Open Sans
    font-weight: 700
    font-size: 18px
    text-align: center
    margin-bottom: 5px
    letter-spacing: -1px
    margin-top: 5px
    a
      color: #208FCF
  .instruments
    height: 60px

.category_product_group
  border-bottom: 1px dotted black
  padding-bottom: 40px

.list_ordering
  text-align: center

  ul
    list-style: none
    margin: 0 auto

    li
      display: inline
      font-family: 'Open Sans'
      font-size: 13px
      font-weight: 700
      padding: 3px
      text-transform: uppercase
      position: relative
      margin-right: 5px


    li.active
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px
      background: #4da5d9

      a
        color: white

      img
        position: absolute
        top: 25px
        left: 47%


.pattern
  width: 100%
  background-image: url(/assets/bgpattern.png)
  height: 550px
  z-index: 1
  position: absolute


.more_info
  h3
    margin-top: 18px
  p
    color: #AAA

.confirm_order
  .cancel
    width: 140px
    margin-left: auto
    margin-right: auto
    a.btn-vigoo
      margin: 0
      width: 100px

  .price
    width: 9.5em
    margin-left: auto
    margin-right: auto
    p
      margin-top: 5px
      text-align: center
      color: #AAA
  .buttons
    .left
      text-align: right
    .btn-vigoo
      margin-right: 2em
    .right:
      text-align: left
    .btn-vigoo
      margin-left: 2em

  .product_container
    height: 0
    &.product_info
      margin-left: 6em
    .product_attributes

.i
  font-style: italic

.movingBoxes
  border: none
  box-shadow: none
  margin-bottom: 0

a.mb-scrollButtons
  z-index: 9999
  top: 100px
  background: transparent image-url("big-arrows-no-shadow.png") no-repeat
  width: 128px
  height: 130px
  &.mb-right
    right: 50%
    margin-right: -470px
  &.mb-left
    left: 50%
    margin-left: -470px

.mb-scroll
  height: 360px !important

.mb-controls
  background: none !important

  .mb-link
    color: #D5E0E6

    &.current
      color: #F8E000

#highlights-bg
  height: 281px
  z-index: 1

#highlights
  .item
    position: relative
    width: 600px
    height: 100%
    padding: 0

    .mb-inside
      padding: 0
      border: none

    .product_image
      height: 290px
      overflow: hidden

      img
        width: 100%
        height: auto

    &.current
      z-index: 2
      background: none

      .product_image
        box-shadow: 0px -15px 5px 5px #AAA
        box-shadow: 0px -15px 5px 5px rgba(0,0,0,0.3)
        height: 332px

      .show-when-current
        display: block

    .show-when-current
      display: none

    .rhythm
      font-family: LeagueGothicRegular
      position: relative
      top: -140px
      background-color: #000
      padding: 5px
      padding-left: 25px
      color: #F8E000
      text-transform: uppercase

    .carousel-caption
      position: relative
      top: -140px
      height: 80px
      padding-left: 25px
      div
        &.name
          line-height: 50px
          font-family: Open Sans
          font-weight: bold
          font-size: 35px
          width: 450px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          color: white
        &.details
          font-family: Open Sans
          margin-top: -5px
          font-size: 13px
          font-weight: 300
          color: #CCC
      .product_price
        position: absolute
        line-height: 18px
        top: -10px
        right: 5px
        z-index: 10

.payment_option
  text-align: center
  background-color: #F6F6F6
  margin: 20px
  padding: 20px
  width: 300px
  height: 160px
  .pagar
    margin-top: 20px
    .btn-next
      margin: 0 !important
      width: 140px
  h2
    font-size: 18px
    font-weight: normal
    margin-bottom: 10px
  &.option_1
    float: left
    margin-left: 110px
  &.option_2
    float: right
    margin-right: 110px
    label.radio_buttons
      width: 100%
      text-align: center
    .radio_buttons_group
      margin-left: 50px
      float: left
      width: 38px

.blank
  background-color: white

#locales
  .dropdown-toggle
    div
      display: inline
  .language
    margin-left: 5px
  .dropdown-menu
    top: 30px

#currencies
  margin-right: -25px

.right
  float: right !important

.instruments
  height: 240px

.with_header
  margin-bottom: 40px

.section-description
  font-weight: 300
  font-size: 13px
  font-family: Open Sans
  line-height: 18px
  &.instruments
    height: 60px

.section-subtitle
  font-family: Open Sans Condensed
  text-transform: uppercase
  font-size: 13px

.ordering
  width: 211px
  height: 50px
  margin-left: auto
  margin-right: auto
  li
    list-style-type: none
    float: left
    position: relative
    a
      padding: 1px 7px 1px 7px
      text-transform: uppercase
      font-family: Open Sans Condensed
      font-weight: bold
      font-size: 16px
      letter-spacing: -1px

      &.selected
        color: white
        background-color: #4EA5DA
        display: block
        @include border-radius(3px)
        .sort-arrow
          position: absolute
          left: 50%
          margin-left: -4px
          bottom: -9px
          color: #4EA5DA

.list_ordering .separator
  color: #AAA

.with-separator
  border-left: 1px dotted #AAA
  padding-left: 20px

.fb-like-container
  position: fixed
  right: 10px
  top: 10px
