/* ----- SimpleForm Styles ----- */

.simple_form
  div.input
    margin-bottom: 10px

  label
    float: left
    width: 100px
    text-align: right
    margin: 2px 10px

  .error
    clear:   left
    color:   black
    display: block
    //margin-left: 120px
    font-size:    12px
    font-weight: bold
    color: #ff3333

  .hint
    clear: left
    margin-left: 120px
    font-size:    12px
    color: #555
    display: block
    font-style: italic
    
  label.boolean
    text-align: left
    width: auto
    
  .control-label
    height: 45px

div.boolean, .simple_form input[type='submit']
  margin-left: 120px

// div.boolean label, label.collection_radio
//   float: none
//   margin: 0

label.collection_radio
  margin-right: 10px
  vertical-align: -2px
  margin-left:   2px

.field_with_errors
  //background-color: #ff3333

input.radio
  margin-right: 5px
  vertical-align: -3px

input.check_boxes
  margin-left: 3px
  vertical-align: -3px

label.collection_check_boxes
  float: none
  margin: 0
  vertical-align: -2px
  margin-left:   2px