%ul.nav
  %li.dropdown
    %a{ class: "dropdown-toggle", "data-toggle" => "dropdown", href: "#" }
      Management
      %b.caret
    %ul.dropdown-menu
      %li= link_to "Users", admin_users_path
      %li= link_to "Products", admin_products_path
      %li= link_to "Administrators", admin_admin_users_path if current_admin_user.role=='Super user'
      
  %li.dropdown
    %a{ class: "dropdown-toggle", "data-toggle" => "dropdown", href: "#" }
      Configuration
      %b.caret
    %ul.dropdown-menu  
      %li= link_to "Homepage Highlights", admin_homepage_highlights_path
      %li= link_to "Rhythms", admin_rhythms_path
      %li= link_to "Instruments", admin_instruments_path
      %li= link_to "Moods", admin_moods_path
      %li= link_to "Sound Types", admin_sound_types_path
      %li= link_to "Regions", admin_regions_path
      %li= link_to "Main Categories", roots_admin_categories_path
      %li= link_to "Preset Images", admin_images_path

  %li.dropdown
    %a{ class: "dropdown-toggle", "data-toggle" => "dropdown", href: "#" }
      Reports
      %b.caret
    %ul.dropdown-menu
      %li= link_to "Orders", admin_orders_path
      %li= link_to "Payments", admin_payments_path
      
  %li.dropdown
    %a{ class: "dropdown-toggle", "data-toggle" => "dropdown", href: "#" }
      Language
      %b.caret
    %ul.dropdown-menu
      %li= link_to "Português", "/admin"
      %li= link_to "English", "/en/admin"
