!!!
%html
  %head
    = #%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,300italic,400italic,600italic,700italic|Open+Sans+Condensed:700", :rel => "stylesheet", :type => "text/css"}
    %title ORITMO ADMIN
    = stylesheet_link_tag "admin/application", media: "all"
    = javascript_include_tag "admin/application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          = link_to "ORITMO ADMIN", admin_root_path, class: "brand"
          
          - if admin_user_signed_in?
            = render('admin/layouts/navigation')
                    
          %ul.nav.pull-right
            - if admin_user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
                  Account
                  %b.caret
                %ul.dropdown-menu
                  
                  %li= link_to "Log Out", destroy_admin_user_session_path
            - else
              %li= link_to "Sign In", new_admin_user_session_path
    
    .container-fluid
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - elsif flash[:alert]
        .alert.alert-error= flash[:alert]
      - elsif flash[:error]
        .alert.alert-error= flash[:error]
        
      = yield
      
      %footer
        %p.pull-right
          %small Brought to you by PoloMarte
      
    
