=simple_form_for [:admin, @image] do |f|
  = f.input :name
  = f.input :photo, :as => :file
  - if !@image.photo.blank?
    = image_tag(@image.photo.url(:thumb))
    %br
    %br
  .clearfix
  = f.button :submit, class: 'btn btn-primary'
  = link_to "Cancel", :back