.page-header
  %h1 Images
  
%p= link_to "Add image", new_admin_image_path, class: 'btn btn-primary'

- @images.in_groups_of(4).each do |group|
  .row12.clearfix.admin-image-row
    - group.each do |image|
      - unless image.nil?
        .span3.preset-image-container{:rel => image.id}
          = link_to edit_admin_image_path(image) do
            = image_tag image.photo.url(:thumb), class: 'admin-image-tag'
          = link_to admin_image_path(image), :method => :delete, :confirm => 'Are you sure?', class: 'btn btn-danger btn-mini delete-image-button', :id => "delete_#{image.id}" do
            %i.icon-remove.icon-white