%h1.heading= @category_name.pluralize
%h2.heading= t(:slogan_category_children, :category_name => @category_name.downcase)

- for child in @children
  = link_to category_path(child) do
    .grid_4
      .category_box
        - if !child.photo.blank?
          - cat_class = "compact"
          .category_photo
            = image_tag child.photo.url(:thumb)
        .category_name{class: cat_class}
          %span.name= child.name
          %br
          %span.sounds= "(#{child.product_count} #{t(:sound, :count => child.product_count)})"
        .arrow
          %i.icon-chevron-right.icon-blue
.clearfix
= will_paginate @children
