- if !@category.background.blank?
  - content_for :section_head do
    .row-fluid
      %div
        =image_tag @category.background.url, class: 'category_header_image'
        .pattern &nbsp;

  .row_12.category_hero

    .grid_6
      %h1= @category.name
      .grid_3.alpha.category_description.description.section-description
        = truncate( @category.description, :length => 450, :separator => ' ' )
      
      .grid_3.omega.category_description
        - case @category.class.name
          - when t(:rhythm).capitalize
            %h2.section-subtitle= t(:region)
            .section-description= @category.regions.map { |cat| link_to cat.name, category_path(cat.slug) }.join(", ").html_safe
      
            %h2.section-subtitle= t(:instruments).pluralize
            .section-description= @category.instruments.map { |cat| link_to cat.name, category_path(cat.slug) }.join(", ").html_safe
              
          - when t(:instrument).capitalize
            %h2.section-subtitle= t(:rhythm).pluralize
            .section-description= @category.rhythms.map { |cat| link_to cat.name, category_path(cat.slug) }.join(", ").html_safe
    
    .grid_6
      .category_image_container
        .category_image
          - if !@category.photo.blank?
            = image_tag @category.photo.url
          
  .clearfix        

.category_body
  %h1.heading= @category.name
  %h2.heading= "Todos os sons em #{@category.name}"

  = render partial: 'layouts/products_ordering', locals: { url: category_path(@category) }

  - if @products.size > 0
    - @products.in_groups_of(4).each do |group|
      .row_12.category_product_group
        - group.each do |product|
          = render partial: 'layouts/product', :locals => { :product => product, :type => @category, :section =>"category" } unless product.nil?
        .clearfix
    .clearfix
    = will_paginate @products
    
    
    %h1.heading
      %span.blank= t(:authors)
    %h2.heading= "Artistas em #{@category.name}"
    - @top_authors.each do |author|
      .grid_3.similar_author.thumb
        = render partial: 'users/user_disk', :locals => { :user => author }
    
    
  - else
    .alert.alert-error= t(:no_products_found)

  .clearfix
.clearfix
