.page-header
  %h1 Edit User
  
= simple_form_for [:admin,  @user ] do |f|
  .span4
    = f.input :name
    = f.input :full_name
    
    = f.input :city
    = f.input :country
    
    %hr
    = f.input :cpf
    = f.input :cae
    = f.input :filiation
    = f.input :paypal_account
    
  .span4
    = f.input :bio, :as => :text
    = f.input :featured
    
  .span6
    = f.input :photo, :as => :file
    - if !@user.photo.blank?
      = image_tag(@user.photo.url(:thumb))
  
  .clearfix
  .page-header
  = f.submit :submit, class: 'btn btn-success'
  = link_to 'cancel', admin_user_path(@user)