.page-header
  %h1 Users

%div{style: 'float:left'}
  = "#{@user_count} users registered"
.clearfix

.pagination{style: 'float:left' }
  %ul
    - @filters.each do |f|
      - css_class = f==@filtered ? 'active' : ''
      %li{class: css_class}= link_to f, "?filter=#{f}"


%div.table-search.pagination{style: 'float:left'}
  = form_tag(admin_users_path, method: :get, class: 'form-search') do
    = text_field :q, nil, class: 'search-query', name: :q
    = submit_tag "Search", class: "btn"

%div{style: 'float:right'}
  = will_paginate @users

%table.table.table-striped
  %tr
    %th= sortable 'id', 'ID'
    %th= sortable 'name', 'Name'
    - if @filtered=='Artists'
      %th= sortable 'internal_rating', 'Rating'
    %th= sortable 'city', 'City'
    %th= sortable 'current_sign_in_at', 'Last Login'
    %th Confirmed
    %th= sortable 'product_count', 'Active Products'
    %th= sortable 'referred_by', 'Referred By'
    %th PayPal Account
    %th Withdraw
    %th

  - @users.each do |user|
    %tr
      %td= user.id
      %td
        - if user.featured
          %i.icon-star
        = link_to user.name, admin_user_path(user)
      - if @filtered=='Artists'
        %td
          - (1..5).each do |rating|
            - star = user.internal_rating>=rating ? 'icon-star' : 'icon-star-empty'
            = link_to admin_user_path(user, 'user[internal_rating]' => rating), :method => :put, :remote => true, class: 'admin-user-rating' do
              %i{class: star, id: "star_#{user.id}_#{rating}"}
      %td= user.city
      %td="#{formatted_date(user.current_sign_in_at)}"
      %td
        = "<span class='label label-success'>Yes</span>".html_safe if user.confirmed?
        = "<span class='label label-important'>No</span>".html_safe if !user.confirmed?
      %td= user.product_count
      %td= user.referred_by.presence || '—'
      %td= user.paypal_account.presence || '—'
      %td
        - balance = number_to_currency(user.account.balance, :precision => 2, :format => "%u%n", locale: 'pt-BR')
        - isDisabled = user.account.balance == 0 || user.paypal_account.blank?
        = button_to "Withdraw #{balance}", withdraw_admin_user_path(user),
          class: "btn btn-small #{isDisabled && 'disabled'}",
          style: "margin-bottom: 0",
          disabled: isDisabled,
          disable_with: "Processing...",
          data: {confirm: 'Are you sure?'}
      %td= link_to "login as user", admin_become_path(id: user.id)
