.page-header
  %h1= @user.name
%div{style: 'float:right'}= link_to "Edit", edit_admin_user_path(@user), class: 'btn btn-success'
  
.row
  - if !@user.photo.blank?
    .span6
      %p= image_tag @user.photo.url
      
      
  .span6
    %table.table.table-bordered.table-striped
      %tr
        %td Full Name
        %td= @user.full_name
      %tr
        %td Email
        %td= mail_to @user.email
      %tr
        %td Location
        %td= "#{@user.city}, #{@user.country}"
      %tr
        %td CPF
        %td= @user.cpf
      %tr
        %td CAE
        %td= @user.cae
      %tr
        %td Filiation
        %td= @user.filiation
      %tr
        %td Referred by
        %td= @user.referred_by
        
        
  .span6
    %table.table.table-bordered.table-striped
      %tr
        %td Created
        %td= "#{@user.created_at.in_time_zone('Brasilia').strftime("%b, %m %Y - %H:%M")} (#{time_ago_in_words(@user.created_at.in_time_zone('Brasilia'))})"
      %tr
        %td Accepted terms on
        %td= "#{@user.accepted_seller_terms_at.in_time_zone('Brasilia').strftime("%b, %m %Y - %H:%M")} (#{time_ago_in_words(@user.accepted_seller_terms_at.in_time_zone('Brasilia'))})"
      %tr
        %td Logins
        %td= @user.sign_in_count
      %tr
        %td Last sign in
        %td= "#{@user.last_sign_in_at.in_time_zone('Brasilia').strftime("%b, %m %Y - %H:%M")} (#{time_ago_in_words(@user.last_sign_in_at.in_time_zone('Brasilia'))})"
      %tr
        %td Paypal account
        %td= @user.paypal_account || "N/A"
      %tr
        %td Products
        %td= "#{@user.product_count} active / #{@products.length} total"
        
        
- if !@user.bio.blank?
  .row
    .span12
      %h2 Bio
      = @user.bio

  .row
    .span12
      .page-header
        %h2 Products

.row
  .span12
    %ul.nav.nav-tabs.usertabs
      - if @products.size > 0
        %li
          %a{href: "#products", "data-toggle" => "tab"} Products
      - if @bought_products.size > 0
        %li
          %a{href: "#orders", "data-toggle" => "tab"} Purchases
      - if @transactions.size>0
        %li
          %a{href: "#transactions", "data-toggle" => "tab"} Transactions
        
    .tab-content
      .tab-pane#products
        %table.table.table-striped
          =render partial: 'admin/products/product_heading', :locals => { :user => @user }
          - @products.each do |product|
            =render partial: 'admin/products/product_row', :locals => { :product => product, :user => @user }
            =render partial: 'admin/products/modal_reject', :locals => { :id => product.id }
            
      .tab-pane#orders
        %table.table.table-striped
          %tr
            %th Id
            %th Image
            %th Product
            %th Artist
            %th Created
            %th Price
            %th Sample
          - @bought_products.each do |product|
            %tr
              %td= product.id
              %td= image_tag(product.thumburl)
              %td= link_to product.name, admin_product_path(product)
              %td
                = link_to product.user.name, admin_user_path(product.user) if product.user
              %td= formatted_date(product.created_at)
              %td= product.price==0 ? "<span class='label label-info'>Free</span>".html_safe : product.price
              %td
                - if product.sample.nil?
                  = link_to 'N/A', reprocess_admin_product_path(product), remote: true, rel: product.id, class: 'label reprocess_sample', title: 'reprocess'
                  %span.hide{id: "loading-#{product.id}"}
                    = image_tag 'product-loading.gif'
                - else
                  = render partial: 'layouts/player_compact', :locals => { :product => product }
            
      .tab-pane#transactions
      
        %table.table
          %tr
            %th Date
            %th Description
            %th D/C
            %th Amount
          - @transactions.each do |t|
            %tr
              %td= t.created_at
              %td= t.description
              %td= t.debit_credit
              %td= t.amount

          %p= "#{t(:current_balance)}: #{@user.account.balance}"
      
      
.page-header

%h2 Raw data
= @user.inspect


:javascript
  $(document).ready(function(){
    $('ul.usertabs a:first').tab('show');
  });