.product_form
  = simple_form_for @product, :remote => request.xhr? ? true : false, :html => { :rel => 'product-form' } do |f|
    = render :partial => 'layouts/form_error_explanation', :locals => { :model => @product }
    = f.input :name, :hint => t(:product_name_hint)

    - if @product.new_record? && !request.xhr?
      = f.input :archive, :as => :file, :required => false
    
    = f.hidden_field :is_public, :value => true

    - @sections.each do |section|
      - if section.id == 1
        %label.check_boxes= section.name
        .instruments
          = categories_check_box_list(Category.all_instruments, @product, 'category_ids')
      - elsif section.id == 5
        = f.input :category_ids, :collection => section.children.sort_by(&:name), :label => section.name, :input_html => { :name => "product[category_ids][]", id: "section_#{section.id}" }
        = f.input :bpm
        = f.input :key_note, collection: ['C','D','E','F','G','A','B'], label: t(:key), :wrapper_html => { :style => 'float:left; width:170px;' }, :input_html => { :class => 'short_select' }
        = f.input :key_sus, collection: ['#','b'], :label => false, :wrapper_html => { :style => 'float:left; clear:none;' }, :input_html => { :class => 'short_select' }
        = f.input :key_maj, collection: ['m'], :label => false, :wrapper_html => { :style => 'float:left; clear:none;' }, :input_html => { :class => 'short_select' }
      - else  
        .clearfix
        = f.input :category_ids, :collection => section.children.sort_by(&:name), :label => section.name, :input_html => { :name => "product[category_ids][]", id: "section_#{section.id}" }

    = f.input :description, :as => :text, :input_html => { :rows => 3 }, :hint => t(:product_description_hint)
          
    .input.optional
      %label.string= t(:image)
      
      .product-form-images.carousel.slide{id: "carousel_#{@product.id}"}
        .carousel-inner
          - @preset_images.in_groups_of(3).each do |group|
            - css_class = group == @preset_images.in_groups_of(3).first ? 'active' : ''
            .item{class: css_class}
              %table
                %tr
                  - group.each do |image|
                    - if image
                      %td
                        - css_class_image = @product.image && @product.image.id == image.id ? 'selected' : '' 
                        = image_tag image.photo.url(:thumb), rel: "#{image.id}_#{@product.id}", class: "product-image-select #{css_class_image}"
                  
        %a{class: 'carousel-control left', href: "#carousel_#{@product.id}", 'data-slide' => 'prev' } &nbsp;
        %a{class: 'carousel-control right', href: "#carousel_#{@product.id}", 'data-slide' => 'next' } &nbsp;
        
      %span.hint= request.xhr? ? t(:select_product_image) : t(:upload_your_own)
        
    = f.input :image_id, :as => :hidden, :label => false
    
    - unless request.xhr?
      = f.input :photo, :as => :file, :label => t(:upload)
      - if !@product.photo.blank?
        .thumb
          = image_tag(@product.thumburl)
          %br
          = f.input :remove_photo, :label => t(:remove_photo), :as => :boolean
    = f.input :price
    = f.input :allow_commercial_use, :default => true

    - if @position
      = hidden_field_tag :position, @position
    
    .clear

    #form-buttons
      = f.button :submit, t(:save), :class => 'btn-vigoo'
      = link_to t(:cancel), :back unless request.xhr?
      
