.grid_4
  .product_container.product_info
    .product_name= link_to display_product_name(product.name), user_product_path(product.user, product)
    - cat = category_hash(product)
    .product_attributes
      - cat.each do |main, val|
        - if val.length>0 && main != "Região"
          %span.key= main
          %span.value
            - i=0
            - cats_appended=""
            - val.each do |obj|
              - i=i+1
              - cats_appended += (i==val.length) ? obj.name : "#{obj.name}, "
            = truncate(cats_appended, :length => 30, separator: ' ')
              
      
      %span.key= t(:author, :count => 1)
      %span.value= link_to product.user.name, user_path(product.user)
    

.grid_4
  .authors_files.price
    %h3 &nbsp;
    = price_big(product)
    %p
      = "#{t(:your_current_balance)}:"
      %br
      = number_to_currency(user.account.balance)

.grid_4
  .product_container.more_info
    %h3=t(:more_info)
    .clearfix
    %p=product_info(product)
.clearfix


