%h1.heading= t(:edit_product)
%h2.heading= @product.name

- if @product.sample
  .span3{style: 'margin-bottom:-18px; margin-left: 355px'}
    = render partial: 'layouts/player_compact', :locals => { :product => @product }

= render 'form'
