.category_body
  %h1.heading Busca
  %h2.heading
    - if @products.any? 
      = "#{t("results_for")} '#{params[:q]}'"
    - else
      = t(:no_products_found)

  - if @products.any?
    - @products.in_groups_of(4).each do |group|
      .row_12.category_product_group
        - group.each do |product|
          = render partial: 'layouts/product', :locals => { :product => product, :type => product.categories.first, :section =>"category" } unless product.nil?
        .clearfix
    .clearfix
  .clearfix
.clearfix
