<%= t("license.header", 
product_id: @product.id,
product_name: @product.name, 
order_price: @order.price, 
author_name: @product.user.name, 
user_id: current_user.id,
user_name: current_user.name,  order_id: @order.id, 
user_email: current_user.email, 
license_id: @order.license_id) %>

<%= t(@template)%>