%h1.heading
  %span.blank= display_product_name(@product.name)
%h2.heading= "#{t(:a_sound_created_by)} #{@user.name}"

.container_12.authors_files
  .grid_3
    - if ! @product.sample.nil?
      = render partial: 'layouts/player_single', :locals => { :product => @product }  
    - else
      %p= image_tag @product.thumburl
  .grid_2
    -if @purchased
      = link_to download_product_path(@product) do
        = image_tag "btn-download.png"
    - else
      = price_big(@product)
  .grid_7.product_description
    = @product.description

.clearfix

%hr.dotted

.grid_4.user_info
  %h3= "#{t(:about)} #{@user.name}"
  - if !@user.photo.blank?
    %p= image_tag @user.photo.url(:thumb)
    
  %h4= t(:sounds)
  %p= @user.products.is_public.size
  
  %h4= t(:profile)
  %p=@user.bio
  
  %p= link_to t(:see_profile), user_path(@user)
  
.grid_2.user_info.with-separator
  %h3= t(:file_tags)
  
  %h4= t(:rhythm)
  %p
    - get_subcategories(@product,2).each do |ritmo|
      = ritmo
      %br
    
  %h4= t(:instruments)
  %p
    - get_subcategories(@product,1).each do |instrument|
      = instrument
      %br
    
  %h4= t(:region)
  %p
    - get_subcategories(@product,4).each do |region|
      = region
      %br
    
.grid_2.user_info.with-separator
  %h3= t(:file_details)
  %h4= t(:bitrate)
  %p= @product.bpm
  
  %h4= t(:duration)
  %p= display_duration(@product)
  
  %h4= t(:type)
  %p
    - get_subcategories(@product,5).each do |type|
      = type
      %br

.clearfix
%hr.dotted

.container_12
  - if @similar_user
    - cssclass = "grid_9"
  - else
    - cssclass = "grid_12"
  %div{class: cssclass}
    %h1.heading.no_back= t(:more_from_this_author)
    %h2.heading= t(:you_may_also_like_these_tracks)
    .title_shade &nbsp;
    
    .row
      - i=0
      - max_products = @similar_user ? 3 : 4
      - @user.products.is_public[0..max_products].each do |more_product|
        - if more_product.id != @product.id
          - i+=1
          - break if i>max_products
          = render partial: 'layouts/product', :locals => { :product => more_product, :type => nil, :section =>"author" } unless more_product.nil?
      
  - if @similar_user
    .grid_3.similar_author
      %h1.heading.no_back= t(:similar_author)
      %h2.heading= t(:more_from_his_style)
      .title_shade &nbsp;

      = render partial: 'users/user_disk', :locals => { :user => @similar_user }

  
  
.clearfix

- if @user == current_user
  %hr.dotted
  = link_to(t(:edit), edit_product_path, class: "btn btn-success")
  = link_to(t(:download), download_product_path(@product), class: "btn btn-success")

