$('#file-form-<%= @position %>').html("<%= escape_javascript(render :partial => 'form') %>");
$("[rel='<%= @position %>'] .file-message").html('editado');
$("#file-forms .loading").hide();

var all_done, possible;
all_done = true;
$(".file-message").each(function(k, v) {
  if ($(v).html()!='editado' && $(v).html()!='erro') {
   all_done = false;
  }
});

if (all_done){
  $("#next-multiple-product").show();
  window.onbeforeunload = null;
}