

%h1.heading= t('multiple_products.main_title')
%h2.heading= t('multiple_products.file_formats')

%a{ :name => 'uptop' }

.grid_12
  = s3_uploader_form callback_url: upload_callback_products_url, callback_param: "archive", id: "myS3Uploader", key: 'uploads/temp/{timestamp}-_-{unique_id}-_-${filename}', key_starts_with: 'uploads/temp/' do


    = link_to t(:add_files), '#', :id => 'upload-add-files', :class => 'btn-vigoo'
    .fake-upload
      - # %input.file{ :id => 'upload-file-button', :type => 'file', :multiple => '' }
      = file_field_tag :file, multiple: true
    .fileupload-or= t(:or)
  #fileupload.container_12
    %h2.instruction= t(:drag_your_music_here)
    #uploaded-files.grid_4.omega.alpha
    #file-forms.grid_8.alpha.omega
      .loading.hidden Aguarde...
    .clear
  
#next-multiple-product.buttons
  = link_to t(:btn_finish), user_path(current_user), :class => 'btn-vigoo', :id => 'upload-finish-button'
  .loading &nbsp;

.clearfix

%script{id: "template-upload", type: "text/x-tmpl"}
  .file-container{ id: "file-{%=o.unique_id%}", rel: ""}
    .file-name
      {%=o.name%}
    %span.file-message
    .clearfix
    .progress
      .bar{style: "width: 0%"}
    .clearfix


