.hero-unit
  background: transparent
  color: #FFF
  padding: 17px
  margin-bottom: 80px

  h2
    margin-bottom: -10px

  .author_image_container
    float: left
    background: image-url('frame_author.png') no-repeat
    background-position: 0 0
    height: 378px
    width: 472px
    margin-right: 30px

    .author_image
      padding: 22px 0 0 20px

    a
      position: relative
      top: -25px
      left: 25px


  .blue_container
    color: #ffffff

    .read-more
      font-family: Open Sans Condensed
      font-size: 12px
      margin: 5px 0px
      position: relative
      z-index: 1

      a
        text-transform: uppercase
        font-weight: bold

    .actions
      float: right
      margin-right: 5px
      margin-top: 5px
      margin-bottom: -25px

    background: #2A5F7E
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    width: 876px
    margin: 30px 0 0 50px
    height: 315px

    h1
      float: left
      font-family: Open Sans
      font-size: 46px
      letter-spacing: -4px
      width: 400px
      margin-bottom: 12px
      margin-top: 25px

    .bio_container
      width: 180px
      float: left
      margin-right: 30px
      height: 150px

      .bio

    .region_container
      width: 180px
      float: left
      height: 150px

      .region
      .instruments

    .video_container
      width: 424px
      height: 142px
      overflow: hidden
      float: left
      ul
        list-style: none
        margin: 10px 0 0 0
        li
          float: left
          margin-right: 5px
          position: relative
          width: 125px

          .delete_video
            z-index: 20
            position: relative
            left: 87px
            top: -85px
      .actions
        float: left

.authors_files
  .separator
    height: 20px
    border-bottom: 1px dotted #000
    margin-bottom: 20px

  .price
    height: 78px
    width: 118px
    text-align: center
    background: image-url('pricebg_big.png') no-repeat
    padding-top: 40px

    a
      font-family: LeagueGothicRegular
      font-size: 53px
      color: black
      display: block
      text-transform: uppercase
      height: 26px

      &:hover
        text-decoration: none

    hr
      border: 1px dotted black
      margin: 10px 30px 2px

    span
      text-transform: uppercase
      font-size: 17px

    .buy
      font-size: 17px
      margin-top: 2px
      text-transform: uppercase

    .value
      font-size: 53px

    .cents
      position: absolute
      margin-top: -12px

  .default
    background-position: 0px 0px

    &:hover
      background-position: 0px -118px

  .full-track
    background-position: -118px 0px

    hr
      border: 1px dotted white

    &:hover
      background-position: -118px -118px

    a
      color: white

    span
      color: white

  .free
    background-position: -236px 0px

    hr
      border: 1px dotted white

    &:hover
      background-position: -236px -118px

    a
      color: white
      font-size: 43px

    span
      color: white

  .product_status
    z-index: 10
    position: absolute
    top: 3px
    right: 3px

  .more_info
    color: #999
    font-family: Open Sans
    font-size: 16px
    letter-spacing: -1px

    .small
      font-size: 14px

    .title
      font-family: Open Sans Condensed
      color: #000
      font-weight: bold
      text-transform: uppercase

  h2
    font-family: Open Sans
    color: #08C
    letter-spacing: -1px
    line-height: 25px

  ul.categories
    list-style: none
    float: left
    margin-left: 0
    li
      // float: left
      font-weight: bold
      text-transform: uppercase
      font-size: 12px
      line-height: 17px
    ul
      list-style: none
      // float: left
      margin-left: 104px
      margin-top: -16px
      li
        // float: left
        font-weight: normal

      li.no_upper
        text-transform: none

#user_activity
  .tab-content
    padding-top: 20px
    width: 100%

  .tab-pane#collections
    .new-collection-btn-wrapper
      margin: 20px auto 30px
      width: 150px
      text-align: center

    .collection
      width: 25%
      float: left
      padding: 10px
      margin-bottom: 20px
      box-sizing: border-box

      img
        display: block
        width: 100%
        margin-bottom: 10px
