.product_form
  .thumb
    margin-left: 120px
    margin-top: -10px
    .boolean
      margin-left: 0
  .instruments
    overflow-y: scroll
    margin-bottom: 15px
    padding: 10px
    border: 1px solid #CCC

  .input
    clear: both
    
    label.check_boxes
      margin-right: 30px
      
    .checkbox
      padding-left: 0
      float: left
        
      label.collection_check_boxes
        text-align: left
        width: 160px
        
      input[type="checkbox"]
        margin-left: 0
        margin-right: 5px
        
    #product_remove_photo
      float: left
      
  .product-form-images
    margin-left: 120px
    height: 75px
    overflow: none
    width: 500px
    margin-bottom: 0
    
    .carousel-control
      left: 0px
      background: url("/assets/small-arrows.png")
      border: none
      height: 50px
      opacity: 1
      width: 50px
      outline: none
      
      &:hover
        background-position: 0 50px
        
      
    .carousel-control.right
      right: 40px
      left: auto
      background-position: 50px 0
      
      &:hover
        background-position: 50px 50px
    
    .carousel-inner
      width: 366px
      margin-left: 50px
    
      table
        td
          width: 120px
      
          img
            width: 110px
            height: 63px
          
          img.selected
            border: 3px solid orange