
#bg_footer
  #footer.container_12
    #footer_slogan.grid_3
      %a{:href => "#"}
        %span logo Oritmo
      %h5= t(:site_slogan)
    - cache('footer') do
      #footer_grid.grid_9  
        =footer_group(@footer_sections[0])
        =footer_group(@footer_sections[3])
        =footer_group(@footer_sections[2])
        =footer_group(@footer_sections[5])
        .clearfix
        - if user_signed_in?
          =footer_group(@footer_sections[6])
        - else
          .grid_2 &nbsp;
        =footer_group(@footer_sections[4])
        =footer_group(@footer_sections[1])
        .clearfix
      
    .grid_3
      #follow
        %a#tw{:href => "http://twitter.com/oritmo_music", target: '_blank'}
          siga-nos
          %strong no twitter
        %a#fb{:href => "http://www.facebook.com/oritmomusic", target: '_blank'}
          curta oritmo no
          %strong facebook
        = mail_to( 'play@oritmo.com', 'fale <strong>conosco</strong>'.html_safe, :encode => 'hex', id: 'bl')

  #footer_polomarte
    #polomarte.container_12
      .grid_3.push_5
        %a#polomarte-logo.img-replacement{:href => "http://polomarte.com", target: '_blank'}
        #polomarte-information
          %a{:href => "http://polomarte.com", target: '_blank'}
            A
            %strong Polo Marte
            project
            %br
            2012, all rights reserved