#bg_footer
  #footer.container_12
    #footer_slogan
      %a{:href => "#"}
        %span logo Oritmo
      %h5= t(:site_slogan)
      
    .footer-links
      = link_to t(:about_us), about_us_path
      | 
      = mail_to( 'play@oritmo.com', t(:contact_us).html_safe, :encode => 'hex')
      |
      = link_to t(:terms), termos_path
        
    .polomarte-link
      #polomarte-information
        %a{:href => "http://polomarte.com", target: '_blank'}
          = t(:polomarte_project).html_safe
      %a#polomarte-logo.img-replacement{:href => "http://polomarte.com", target: '_blank'}