.jp-player{id: "jplayer_#{product.id}"}
.jp-audio-image{style: "background: url('#{product.thumburl}');", id: "jplayer_container_#{product.id}"}
  .jp-audio-container
    .jp-audio
      .jp-type-single
        %div.jp-interface{id: "jp_interface_#{product.id}"}
          %ul.jp-controls
            %li
              %a.jp-play{href: "javascript:;"} play
            %li
              %a.jp-pause{href: "javascript:;"} pause
            %li
              %a.jp-mute{href: "javascript:;"} mute
            %li
              %a.jp-unmute{href: "javascript:;"} unmute
          .jp-progress-container
            .jp-progress
              .jp-seek-bar
                .jp-play-bar
          .jp-volume-bar-container
            .jp-volume-bar
              .jp-volume-bar-value
          .jp-text= t(:listen)
      
      
      
:javascript
  $(document).ready(function(){ load_player("#{product.id}","#{product.sample}"); });