.ordering
  %ul
    - { created_at: t(:by_date), price: t(:by_price), name: t(:by_name) }.each do |key, value|
      - klass = { class: "selected" } if @sort_by.try(:to_sym) == key
      %li
        = link_to url + "?sort_by=#{key}", klass do
          = value
          - if klass
            %span.sort-arrow &#9662;
.clearfix
  
