.grid_3.thumb
  .product_container
    - if section == "home"
      %h3= type.name
      .product_more
        = link_to category_path(type) do
          = t(:more)
          %span.more-arrow= "&rsaquo;".html_safe
    - else 
      %h3 &nbsp;
    .product_image
      - if ! product.sample.nil?
        = render partial: 'layouts/player_single', :locals => { :product => product }
      - else
        = link_to image_tag(product.thumburl, :width => 220, :height => 125), user_product_path(product.user, product)
    .product_name= link_to display_product_name(product.name), user_product_path(product.user, product)
    - cat = category_hash(product)
    .product_attributes
      - cat.each do |main, val|
        - if val.length>0 && (!type || main!=type.parent.name) && main != "Região"
          %span.key= main
          %span.value
            - i=0
            - cats_appended=""
            - val.each do |obj|
              - i=i+1
              - cats_appended += (i==val.length) ? obj.name : "#{obj.name}, "
            = truncate(cats_appended, :length => 30, separator: ' ')
              
      
      %span.key= t(:author, :count => 1)
      %span.value= link_to product.user.name, user_path(product.user)
    
    = price_small(product)
