- if user_signed_in?
  %span.hello
    = link_to t(:user_hello, :user_name => current_user.name), user_path(current_user), html_options = {:id => 'create'}
  %span.separator 
    |
  = link_to t(:log_out), destroy_user_session_path, html_options = {:id => 'sign_in'}
  %br
  = "#{t(:your_current_balance)}: #{number_to_currency(current_user.account.balance)}"
  %br
  = link_to t(:my_account), user_path(current_user)
  %span.separator 
    |
  = link_to t(:menu_make_money), upload_path
- else
  = link_to t(:sign_up), new_registration_path('user'), html_options = {:id => 'create'}
  %span.separator
    |
  = link_to t(:sign_in), new_user_session_path, html_options = {:id => 'sign_in'}