!!!
%html
  %head
    %meta{"http-equiv" => "content-type", "content" => "text/html; charset=UTF-8"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,300italic,400italic,600italic,700italic|Open+Sans+Condensed:700", :rel => "stylesheet", :type => "text/css"}
    %meta{ property: 'og:image', content: "http://oritmo.com/assets/oritmo_logo.png"}
    %meta{ property: 'og:image', content: "http://oritmo.com/assets/pandeiro.png"}
    %meta{ property: 'og:image', content: "http://oritmo.com/assets/polomarte_logo_footer.png"}

    %title= page_title
    = stylesheet_link_tag "application", media: "all"
    = yield :stylesheets
    = csrf_meta_tags
    = javascript_include_tag "application"
    = yield :head
  %body{class: body_css_classes}
    #fb-root

    .modal.fade.hide{ :id => "ajax-modal" }
    #bg_header
      #header.container_12
        #head-div
          #search.grid_4
            = form_tag(products_path, method: :get) do
              = search_field_tag "q"
          #slogan.grid_4
            %h1
              %a.img-replacement{:href => root_path}
                = t(:site_name)
            %span
              = t(:site_slogan)
          #account.grid_4
            = render partial: 'layouts/user_status'

          .fb-like-container
            .fb-like{"data-href"=>"https://www.facebook.com/oritmomusic", "data-send"=>"false", "data-layout"=>"button_count", "data-width"=>"50", "data-show-faces"=>"false"}

        #navigation.grid_12
          .root-menu
            %ul.root
              %li
                %span.instruction.search-by
                  = t(:menu_search_by)
              %li= link_to t(:author, :count => 2), users_path
              - Category.menu_sections.each do |section|
                - if section.name != t(:region).capitalize
                  %li
                    %a{ :href => category_path(section) }
                      = "#{section.name.pluralize} "
                      // &#8595;
                      %i.icon-chevron-down.icon-white{style: "margin-top:-3px"}
                    %ul.dropdown-menu
                      - #section.children.sort_by(&:products).reverse[0..12].each do |child|
                      - section.children.order('product_count desc')[0..12].each do |child|
                        %li
                          %i.icon-chevron-right.icon-white
                          = link_to "#{child.name}", category_path(child)
                      - if section.children.size > 10
                        %li.bold
                          = link_to t(:menu_all), category_path(section), class: 'bold'

              %li#currencies.right
                %a.dropdown-toggle{ href: "javascript: void()"}
                  = currencies(selected: true)
                  %i.icon-chevron-down.icon-white{style: "margin-top:-3px"}
                %ul.dropdown-menu
                  - currencies.each do |currency|
                    %li
                      %i.icon-chevron-right.icon-white
                      = currency

              %li#locales.right
                %a.dropdown-toggle{href: "javascript: void()"}
                  = locales(selected: true)
                  %i.icon-chevron-down.icon-white{style: "margin-top:-3px"}

                %ul.dropdown-menu
                  - locales.each do |locale|
                    %li= locale


    = yield :section_head

    %br

    .container_12
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - elsif flash[:alert]
        .alert.alert-error= flash[:alert]
      - elsif flash[:error]
        .alert.alert-error= flash[:error]

      = render_breadcrumbs
      = yield

    %br
    #about
      .container_12
        .box.grid_4
          %h5= t(:about_us)
          = t(:about_us_home).html_safe

          %a{:href => about_us_path }
            = t(:learn_more)
            %span.more-arrow= "&rsaquo;".html_safe

          // %a{:href => "#"} learn more >
        #pandeiro.grid_4
        .box.grid_4
          %h5 facebook
          %p=t(:follow_facebook)

          %a{:href => "https://www.facebook.com/oritmomusic", :target => '_blank'}
            facebook.com/oritmomusic
            %span.more-arrow= "&rsaquo;".html_safe

    = render partial: 'layouts/footer'



:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24553010-6']);
  _gaq.push(['_setDomainName', 'oritmo.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=524861957530598";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
