!!!
%html
  %head
    %title ORitmo
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    %style
      body{
      padding-top: 60px;
      padding-bottom: 40px;
      }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "ORitmo", root_path, class: "brand"
          
          = render('layouts/navigation')
                    
          %ul.nav.pull-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
                  = t(:account)
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to t(:my_account), current_user
                  %li= link_to t(:edit_my_account), edit_user_registration_path
                  %li.divider
                  %li= link_to t(:log_out), destroy_user_session_path
            - else
              %li= link_to t(:sign_in), new_user_session_path
    
    .container
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - elsif flash[:alert]
        .alert.alert-error= flash[:alert]
      - elsif flash[:error]
        .alert.alert-error= flash[:error]
        
      = yield
      
      %footer
        %p.pull-right
          %small= t(:brought_by_polomarte)
      
    = javascript_include_tag "application"
