.modal-header
  %button{ :type => "button", :class => "close", "data-dismiss" => "modal" } x
  %h3= content_for :modal_header
.modal-body
  = yield
.modal-footer
  = link_to t(:modal_submit), "#", :class => "btn-vigoo btn-vigoo-small", :id => "modal-submit"
  = content_for :modal_footer
