- linktxt = t(:confirm_my_account).html_safe
= t(:account_confirmation_email, :name => @resource.name, :link => link_to(linktxt, confirmation_url(@resource, :confirmation_token => @resource.confirmation_token))).html_safe

