- linktxt = t(:change_my_password).html_safe
= t(:reset_password_email, :name => @resource.name, :link => link_to(linktxt, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token))).html_safe

