= f.input :name
= f.input :full_name
= f.input :email, required: true
- if f.object.new_record?
  = f.input :password, required: true
  = f.input :password_confirmation
- unless f.object.new_record?
  =# f.input :current_password, hint: t(:current_password_hint)
= f.input :city
= f.input :country, :priority => [ "Brazil" ]
= f.input :musician, label: false do
  = check_box :user, :musician, "data-toggle" => "musician_fieldset"
  
Sou músico
.clearfix
#musician_fieldset
  = f.input :cae
  #brazil_fieldset
    = f.input :cpf, required: true
    = f.input :filiation, :as => :select, :collection => [:UBC, :SOCIMPRO, :AMAR, :ABRAMUS]
  = f.input :paypal_account, :hint => t(:paypal_field_hint)
  - if f.object.new_record?
    = f.input :referred_by
