=content_for :title do
  = "#{t(:page_title_prefix)} #{t(:edit_my_account)}"
  
%h1.heading= resource.name
%h2.heading= t(:edit_my_account)

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = render partial: "form", locals: { f: f }
  = f.button :submit, t(:update), class: 'btn-vigoo'


%p &nbsp;
%p &nbsp;

%h1.heading= t(:change_password)


= simple_form_for(@user, :url => update_password_users_path  ) do |f| 
  = f.input :password, :autocomplete => "off"
  = f.input :password_confirmation
  = f.input :current_password, hint: t(:current_password_hint)
  = f.button :submit, t(:update), class: 'btn-vigoo'


%p &nbsp;
%p &nbsp;

%h1.heading= t(:cancel_my_account)
%h2.heading= t(:cancel_my_account_text)

.alert.alert-block
  %div{style: "float:left;"}
    %h4.alert-heading= t(:warning)
    = t(:no_undo)
  %div{style: "float:right;"}
    = link_to t(:cancel_my_account), registration_path(resource_name), :confirm => t(:are_you_sure), :method => :delete, class: "btn btn-vigoo btn-danger"
  .clear

= link_to t(:back), :back

