=content_for :title do
  = "#{t(:page_title_prefix)} #{t(:sign_up)}"

%h1.heading= t(:sign_up)
%h2.heading= t(:site_name)

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = render :partial => "layouts/form_error_explanation", :locals => { :model => resource }
  .grid_5
    = render partial: "form", locals: { f: f } 
    .no-space-labels
      %label.no-format
        %input{id: "accept_terms", :name => "accept_terms", :type => "checkbox", :onclick => "toggle_accepted(this)" }
        = t(:i_accept_terms)
      = f.input :accepted_buyer_terms_at, :as => :hidden
      = f.input :accepted_seller_terms_at, :as => :hidden
      = f.button :submit, t(:submit), :class => "btn-vigoo"

    
  .grid_7
    .termos
      = render :partial => "pages/termos"
  
.clear

:javascript

  $(document).ready(function(){
    if($("#user_accepted_seller_terms_at").val()!=''){
      $("#accept_terms").attr('checked',true);
    }
  });

  function toggle_accepted(chk) {
    if(chk.checked){
      var now = new Date();
      var ledate = dateFormat(now, 'yyyy-mm-dd HH:MM:ss');
      $("#user_accepted_buyer_terms_at").val(ledate);
      $("#user_accepted_seller_terms_at").val(ledate);
    } else {
      $("#user_accepted_buyer_terms_at").val('');
      $("#user_accepted_seller_terms_at").val('');
    }  
  }
